{% extends "admin.html" %}
{% load i18n %}

{% block title %}
    {% trans "Administration" %} &gt; {{ dbtype }} {% trans "credit stats" %}
{% endblock %}

{% block content %}

    <h3>{% trans "Credit statistics" %}</h3>

    <table class="table table-striped">
    <tr>
        <th colspan="3">{% trans "What you paid in last 14 days" %}</th>
    </tr>
    {% for day in days %}
    <tr>
        <td>{{ day.date }}</td>
        <td>{{ day.value }}</td>
        <td>{{ day.cost|floatformat:2 }}</td>
    </tr>
    {% endfor %}
    <table class="table table-striped">
    <tr>
        <th colspan="3">{% trans "What you paid by months" %}</th>
    </tr>
    {% for month in months %}
    <tr>
        <td>{{ month.label }}</td>
        <td>{{ month.cost|floatformat:2 }}</td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}
