{% extends "universal.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

    <h3>{{ title }}</h3>

    {% if valid %}
        <p class="{% if next_stest %}ok-text{% else %}error-text{% endif %}">{{ valid }}</p>
    {% endif %}

    {% if form.errors %}
        <div class="error">
            {% trans 'Please fix errors in form below' %}
        </div>
    {% endif %}

    {% if siteErrors %}
        <p>{% trans "Those domains are not set or already used by another app or you" %}:</p>
        <ul>
            {% for x in siteErrors %}
                <li>{{ x }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% crispy form %}

    {% if note %}
        {% for x in note %}
            <p><em>{{ x }}</em></p>
        {% endfor %}
    {% endif %}

{% endblock %}
