{% extends "admin.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
    {% trans "Administration" %} &gt; {% trans "records for" %} {{ domain.name }}
{% endblock %}

{% block content %}
    <div id="message-box"></div>

    <h3>{% trans "Records for " %}{{ domain.name }}</h3>

    <p><strong>{% trans "Default TTL for this domain" %}:</strong> {{ domain.ttl }}s</p>
    
    <p><a href="{% url 'dns_record_editor' pk=domain.id %}" class="btn btn-primary">{% trans "New record" %}</a></p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "TTL" %}</th>
            <th>{% trans "Prio" %}</th>
            <th>{% trans "Value" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
        </thead>
        {% if records %}
            <tbody id="objects_list">
            {% for record in records %}
                <tr data="{{ record.id }}" class="dns_record">
                    <td>{{ record.name }}</td>
                    <td>{{ record.record_type }}</td>
                    <td>{{ record.ttl|default_if_none:"--" }}</td>
                    <td>{{ record.prio|default_if_none:"--" }}</td>
                    <td>{{ record.value }}</td>
                    <td class="list_actions">
                        <a href="{% url 'dns_record_editor' pk=domain.id record_pk=record.id %}" class="btn btn-warning btn-sm"><span class="glyphicon-edit glyphicon"></span> {% trans "Update" %}</a>
                        <a href="#a" onclick="if(confirm('{% trans "Are you sure?" %}')) {document.location= '{% url 'dns_rm_record' %}?record_pk={{ record.id }}';}" class="btn btn-danger btn-sm"><span class="glyphicon-remove glyphicon"></span> {% trans "Delete" %}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">
                    <div class="pagination">
                        {% include "paginator.html" %}
                    </div>
                    <div class="clear"></div>
                </td>
            </tr>
            </tfoot>
        {% else %}
            <tbody>
            <tr>
                <td colspan="4">{% trans "Crap! No records found." %}</td>
            </tr>
            </tbody>
        {% endif %}
    </table>
    <p><em>{% trans "You can change order of records by your mouse." %}</em></p>
    <p><a href="{% url 'dns_new_configuration' domain_pk=domain.id %}" class="btn btn-large btn-danger">{% trans "Write configuration to the NS servers" %}</a></p>

    <script type="text/javascript">
        function sorted() {
            var id_list = [];
            $(".dns_record").each(function (index, value){
                id_list[id_list.length] = $(value).attr("data") * 1;
            });
            $.get(
                "{% url 'dns_record_order' domain_pk=domain.id %}",
                {"records": id_list.join()},
                function (data){
                    if (data != "OK") {
                        alert("Error: new sort is not saved!")
                    }
                }
            );
        }
        $("#objects_list").sortable({stop: sorted});
    </script>
{% endblock %}
