{% extends "admin.html" %}
{% load i18n %}

{% block title %}
	{% trans "Administrace > Informace k e-mailům" %}
{% endblock %}

{% block content %}
		<h3>{% trans "Informace k e-mailům" %}</h3>

{% trans "<p>E-mailový server běží pod doménou <a href=\"http://mail.rosti.cz\">mail.rosti.cz</a>, kde najdete také webového klienta RoundCube. Přístup k poště je možné také přes protokoly POP a IMAP včetně TLS a SSL. Jelikož uchováváme hesla pouze v hashované podobě ve formě jako na UNIXových systémech (to co vypadne z crypt()), tak můžete použít buď zabezpečené přihlášení přes toto nebo se připojit přes TLS/SSL a použít plain text přenos hesla.</p>" %}
{% trans "<p>E-mailové schránky se vytvářejí zde v administraci. Po odeslání žídosti bude vytvořena během pěti minut. Jejich velikost není nějak softwarově omezena, ale budeme rádi, když se budete držet řádově v jednotkách GB. Pokud potřebujete mít velkou a garantovanou kapacitu e-mailových schránek, kontaktujte nás.</p>" %}
{% trans "<p>Můžete také využít e-mailovou schránku na doménách @rosti.cz a @initd.cz, kterou jste získali společně s účtem v systému. V tomto případě máte pod kontrolou soubor .mailfilter pro maildrop a kontrolu spamu. Stačí, abyste si v domácím adresáři vytvořili maildir ~/.maildir, např. zadáním <code>maildirmake ~/.maildir</code>.</p>" %}
{% trans "<p>Pro odesílání pošty můžete použít náš SMTP server na stejné adrese. Přihlašovací údaje jsou stejné jako u Vašeho SSH účtu.</p>" %}
<table>
 <tr>
 	<th>{% trans "E-mailový server" %}</th>
 	<td><a href="http://mail.rosti.cz">mail.rosti.cz</a></td>
 </tr>
  <tr>
 	<th>{% trans "Webové rozhraní" %}</th>
 	<td><a href="http://mail.rosti.cz">mail.rosti.cz</a></td>
 </tr>
 <tr>
 	<th>POP (TLS)</th>
 	<td>Port: 110</td>
 </tr>
 <tr>
 	<th>POP-SSL</th>
 	<td>Port: 995</td>
 </tr>
 <tr>
 	<th>IMAP (TLS)</th>
 	<td>Port: 143</td>
 </tr>
 <tr>
 	<th>IMAP-SSL</th>
 	<td>Port: 993</td>
 </tr>
 <tr>
 	<th>SMTP</th>
 	<td>{% trans "Port: 25 a 2525" %} ({% trans "pro sítě, které 25 blokují" %}) Login: {{ u.username }} {% trans "Heslo" %}: pro SSH</td>
 </tr>
</table>

{% endblock %}
