body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: justify;
}

#main {
	width: 850px;
	margin: 0 auto;
	border: 2px solid #5DA157;
	/*-moz-border-radius: 20px; -webkit-border-radius: 20px;*/
}

#logo {
	margin: 15px 70px -40px 90px;
}

#top {
	margin: 20px 70px 20px 70px;
}

#tail {
	text-align: center;
	background-image: url(/m/imgs/line.png);
	width: 854px;
	height: 30px;
	margin: 0 auto;
}

#tail a {
	text-decoration: none;
	color: white;
}

#tail a:hover {
	color: #6eb6d5;
	text-decoration: none;
}

#content {
	margin: 70px;
}

#head {
	width: 854px;
	height: 50px;
	margin: 0 auto;
	font-weight: bold;
	text-align: left;
	background-image: url(/m/imgs/menu.png);
}

#head a {
	font-size: 19px;
	margin-left: 30px;
	text-decoration: none;
	color: white;
}

#head a:hover {
	color: #6eb6d5;
	text-decoration: none;
}

#head a:hover {
	text-decoration: none;
	color: #FFBBA0;
}

#head-content {
	padding: 14px;
}

a {
	color: #559847;
	text-decoration: none;
}

a:hover {
	color: #6eb6d5;
	text-decoration: underline;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 14px;
	padding-left: 5px;
}

p {
	padding-left: 5px;
}

table {
	border: 1px solid black;
	margin: 0;
	padding: 0;
}

td,th {
	border: 1px solid black;
	margin: 0;
	padding: 5px;
}

tr {
	margin: 0;padding: 0;
}

img {
	margin: 10px 30px 10px 30px;
}

#regform table {
	border: 1px solid #c7cfc6;
	margin: 10px auto;
}

#regform th {
	border: 0;
	padding: 10px;
	width: 200px;
}

#regform td {
	border: 0;
	padding: 10px;
}

input {
	width: 250px;
	border: 1px solid #c7cfc6;
}

.button {
	background-image: url(/m/imgs/reg.png);
	width: 250px;
	height: 51px;
	margin: 50px auto;
	border: 0;
}

#reg a {
	color: #559847;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
}

#reg {
	padding-top: 5px;
}

.errorlist li {
	list-style: none;
	border: 1px solid #fdb8be;
	background-color: #f7d9db;
	padding: 5px;
}