.error-text {
	color: red;
	font-weight: bold;
}

.errorlist {
	color: red;
	font-weight: bold;
}

.ok-text {
	color: green;
	font-weight: bold;
}

.morevisible-text {
	color: yellow;
	font-weight: bold;
}

.menu-info {
	color: yellow;
	vertical-align: super;
}

.menu-perm {
	color: red;
	vertical-align: super;
}

