.ajax_refresh {

	margin: 15px;
	float: left;
	background-image: url('/m/icons/ajax-loader.png');
	background-repeat: no-repeat;
	padding-left: 30px;
	cursor: pointer;
	width: 100px;
}

.ajax_refresh.running {
	background-image: url('/m/icons/ajax-loader.gif');
}

.ajax_refresh .status {
	padding-left: 10px;
}

.error {
	background-color: #FFDFDF;
	padding: 5px;
	border: 1px solid #4D4D4D;
}
