body {
    background: #fff;
    background: #fff url('../images/bg-body.gif') repeat-y left;
    padding-top: 65px;
}


/*--------------------------------------------------------------------------------------------------------
    Header
--------------------------------------------------------------------------------------------------------*/
#header {
    background: url('../images/bg-hlavicka.jpg') repeat-x top;
    height: 60px;
    position: fixed;
    border-bottom: solid 5px #2d3238;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

#header #login {
    float: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 20px;
    background-color: #eee;
}

#login span.username {
    padding-right: 30px;
}

#header #main-menu li {
    float: left;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 10pt;
    padding-right: 10px;
}

/*--------------------------------------------------------------------------------------------------------
	Sidebar
--------------------------------------------------------------------------------------------------------*/

#sidebar-menu {
    margin: 30px 0 0 0;
}

#sidebar-menu li {
    list-style-type: none;
}

#sidebar-menu li a {
    display: block;
    width: 200px;
    margin: 0 0 5px;
    border-radius: 5px;

    text-align: left;
}

/*--------------------------------------------------------------------------------------------------------
    Content
--------------------------------------------------------------------------------------------------------*/

ul#notifications {
    margin: 0 0 30px 0;
}

ul#notifications li {
    margin: 0 0 10px 0;
    padding: 10px 30px 10px 50px !important;
    border: solid 1px #eee;
    position: relative;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    list-style: none;
}

ul#notifications li.error {
    background: #fdd1d1 url('../images/ico-error.png') no-repeat 20px 10px !important;
    border: solid 1px #dc8787;
}

ul#notifications li.info {
    background: #dde4fe url('../images/ico-info.png') no-repeat 20px 10px !important;
    border: solid 1px #94a8e8;
}

ul#notifications li.warning {
    background: #fefbd4 url('../images/ico-upozorneni.png') no-repeat 20px 10px !important;
    border: solid 1px #e6db54;
}

ul#notifications li.success {
    background: url('../images/ico-ok.png') no-repeat 20px 10px #d8fed1 !important;
    border: solid 1px #8ad17f;
}

ul#notifications li .zavrit {
    position: absolute;
    right: -5px;
    top: -5px;
    cursor: pointer;
}

/*--------------------------------------------------------------------------------------------------------
    Notifications form
--------------------------------------------------------------------------------------------------------*/
div.ctrlHolder {
    padding: 0 !important;
    border-bottom: none !important;
}

div.ctrlHolder.error {
    background: #fdd1d1 url('../images/ico-error.png') no-repeat 20px 10px !important;
    margin: 0 0 10px 0;
    padding: 10px 30px 10px 50px !important;
    position: relative;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: solid 1px #dc8787;
}

div.ctrlHolder.info {
    background: #dde4fe url('../images/ico-info.png') no-repeat 20px 10px !important;
    margin: 0 0 10px 0;
    padding: 10px 30px 10px 50px !important;
    position: relative;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: solid 1px #94a8e8;
}

div.ctrlHolder.warning {
    background: #fefbd4 url('../images/ico-upozorneni.png') no-repeat 20px 10px !important;
    margin: 0 0 10px 0;
    padding: 10px 30px 10px 50px !important;
    position: relative;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: solid 1px #e6db54;
}

div.ctrlHolder.success {
    background: url('../images/ico-ok.png') no-repeat 20px 10px #d8fed1 !important;
    margin: 0 0 10px 0;
    padding: 10px 30px 10px 50px !important;
    position: relative;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: solid 1px #8ad17f;
}

div.ctrlHolder .zavrit {
    position: absolute;
    right: -5px;
    top: -5px;
    cursor: pointer;
}

/*--------------------------------------------------------------------------------------------------------
    Registrace a prihlaseni
--------------------------------------------------------------------------------------------------------*/
.registrace {
    background: url('../images/bg-body-registrace.jpg') repeat;
}

.registrace a {
    color: #d73951;
}

.registrace h1 {
    margin: 0 0 40px 50px;
    font-size: 40px;
    color: #71808a;
    font-weight: normal;
    text-shadow: 0 1px 1px #fff;
}

.registrace h1 strong {
    color: #3b4248;
}

.registrace h2 {
    margin: 0 0 20px 50px;
    font-size: 25px;
    color: #71808a;
    text-shadow: 0 1px 1px #fff;
}

.registrace p {
    margin: 0 0 40px 50px;
    font-size: 15px;
    color: #3b4248;
    text-shadow: 0 1px 1px #fff;
    line-height: 25px;
}

.registrace form p {
    margin: 0;
    font-size: 12px;
    text-shadow: none;
}

.registrace #main {
    padding: 40px 0 150px 0;
}

.registrace #main-inside {
    margin: 0 auto;
    width: 800px;
}

.container {
    background: url('../images/bg-container.jpg') repeat-y center;
    margin: 0 0 0 50px;
    width: 300px;
    float: left;
}

.container-top {
    background: url('../images/bg-container-top.jpg') no-repeat center 50px;
}

.container-bottom {
    background: url('../images/bg-container-bottom.jpg') no-repeat center bottom;
    padding: 0 0 30px 0;
}

.container h2 {
    background: url('../images/bg-h2-registrace.jpg') no-repeat 0 0;
    margin: 0;
    padding: 0 0 20px 0;
    width: 300px;
    height: 50px;
    line-height: 55px;
    text-align: center;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: normal;
}

.container label {
    margin: 0 0 10px 20px;
    color: #cfd8de;
    font-size: 12px;
    font-weight: bold;
    display: block;
}

.container .textinput -registrace {
    background: url('../images/bg-textinput-registrace.jpg') no-repeat 0 0;
    margin: 0 0 10px 20px;
    padding: 0 2px;
    width: 256px;
    height: 31px;
    border: 0;
    color: #cfd8de;
    font-size: 12px;
}

.container .input-submit-prihlasit {
    background: url('../images/input-submit-prihlasit.jpg') no-repeat 0 0;
    margin: 15px 0 15px 95px;
    padding-bottom: 2px;
    width: 110px;
    height: 31px;
    border: 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

.container .input-submit-prihlasit:hover {
    background: url('../images/input-submit-prihlasit.jpg') no-repeat 0 -31px;
}

.container .input-submit-registrovat {
    background: url('../images/input-submit-registrovat.jpg') no-repeat 0 0;
    margin: 15px 0 15px 85px;
    padding-bottom: 2px;
    width: 130px;
    height: 31px;
    border: 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

.container .input-submit-registrovat:hover {
    background: url('../images/input-submit-registrovat.jpg') no-repeat 0 -31px;
}

.container .help {
    margin: 0 0 20px 0;
    text-align: center;
    color: #cfd8de;
}

.container .help a {
    color: #cfd8de;
}

.container .help a:hover {
    text-decoration: none;
}

.container .notifications {
    margin: 0 20px !important;
}

.container .border-01 {
    background: url('../images/border-01.jpg') no-repeat 0 0;
    width: 300px;
    height: 45px;
}

/*--------------------------------------------------------------------------------------------------------
	Co jsem doplnil, přetížil
--------------------------------------------------------------------------------------------------------*/

#reg-form input {
    background: url('../images/bg-input-text-registrace.jpg') no-repeat 0 0;
    margin: 0 0 10px 20px;
    padding: 0 2px;
    width: 256px;
    height: 31px;
    border: 0;
    color: #cfd8de;
    font-size: 12px;
}

#reg-form select {
    background: url('../images/bg-input-text-registrace.jpg') no-repeat 0 0;
    margin: 0 0 10px 20px;
    padding: 0 2px;
    width: 256px;
    height: 31px;
    border: 0;
    color: #cfd8de;
    font-size: 12px;
}

.errorlist {
    margin-left: 15px;
    color: red;
    font-weight: bold;
}

.errorlist li {
    list-style-type: none;
}

.helptext {
    color: #ccc;
    margin: 0 0 20px 120px;
}

#reg-form li {
    list-style-type: none;
}

#reg-form .input-text-registrace {
    background: url('../images/bg-input-text-registrace.jpg') no-repeat 0 0;
    margin: 0 0 10px 20px;
    padding: 0 2px;
    width: 256px;
    height: 31px;
    border: 0;
    color: #cfd8de;
    font-size: 12px;
}

#reg-form .input-submit-prihlasit {
    background: url('../images/input-submit-prihlasit.jpg') no-repeat 0 0;
    margin: 15px 0 15px 95px;
    padding-bottom: 2px;
    width: 110px;
    height: 31px;
    border: 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

#reg-form .input-submit-prihlasit:hover {
    background: url('../images/input-submit-prihlasit.jpg') no-repeat 0 -31px;
}

#reg-form .input-submit-registrovat {
    background: url('../images/input-submit-registrovat.jpg') no-repeat 0 0;
    margin: 15px 0 15px 85px;
    padding-bottom: 2px;
    width: 130px;
    height: 31px;
    border: 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

#reg-form .input-submit-registrovat:hover {
    background: url('../images/input-submit-registrovat.jpg') no-repeat 0 -31px;
}

#prepnuti-uzivatele {
    position: absolute;
    left: 450px;
    top: 43px;
    color: #c2c2c2;
}

#prepnuti-uzivatele a {
    background: #2d3238;
    padding: 5px 10px;
    color: #f2f2f2;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#prepnuti-uzivatele a:hover {
    background: #393f46;
}

#prepnuti-uzivatele #uzivatel {
    margin: 0 0 0 5px;
}

#prepnuti-uzivatele i {
    margin: 0 5px 0 0;
    font-style: normal;
}

.terms {
    color: #FFF161;
    text-align: center;
}

/* style2.css

body { background: #ccc; color: #333; padding: 0; font-size: 12px; font-family: sans-serif; line-height: 1.5em; }

a { color: #069; }

h1 { margin: 0; font-size: 2em; font-weight: normal; }
h2 { margin: 0; font-size: 1em; font-weight: bold; }

.layout { overflow: hidden; }

.panel { width: 25%; float: left; }
.panelHolder { padding: 1em; }

.items { margin: 1em 0; padding: 0; list-style: none; border: 1px solid #999; background: #fff; -moz-box-shadow: 0 0 2px #999; }
.items li { padding: 1em; background-image: -moz-linear-gradient( #fff, #f2f2f2 ); -moz-box-shadow: inset 0 -1px 1px #ccc, inset 0 0 2px #fff; }
.items li:hover { background-image: -moz-linear-gradient( #f2f2f2, #fff ); }
.items li.active { background-image: -moz-linear-gradient( #f2f2f2, #ccc ); }
.items h2 { float: left; }
.items h2 a { color: #333; text-decoration: none; text-shadow: #fff 0 1px; }
.items .labels { float: right; }
.items li .general { overflow: hidden; }
.items .details { display: none; }
.items .active .details { display: block; }

.labels span { font-size: 0.8em; text-transform: uppercase; color: #fff; background: #999; padding: 0 0.5em; -moz-border-radius: 1em; -webkit-border-radius: 1em; border-radius: 1em; }
.labels .success { background: #009900; }
.labels .running { background: #ff9900; }

.details p { margin: 0.5em 0; }
.details strong { display: block; font-weight: normal; font-size: 0.8em; text-transform: uppercase; color: #999999; }

.icon { vertical-align: middle; }

.note { margin: 0; color: #999; font-size: 0.8em; clear: both; }

dl { margin: 1em 0; }
dt { font-size: 0.8em; text-transform: uppercase; color: #999; padding: 0; margin: 0; }
dd { padding: 0; margin: 0.5em 0; }
*/

.ajax_refresh {
    background-image: url('../icons/ajax-loader.png');
    background-repeat: no-repeat;
    cursor: pointer;
    width: 35px;
    height: 15px;
}

.ajax_refresh.running {
    background-image: url('../icons/ajax-loader.gif');
}

.ajax_refresh .status {
    padding-left: 20px;
}

.error {
    background-color: #FFDFDF;
    padding: 5px;
    border: 1px solid #4D4D4D;
}

.list_actions a {
    margin-right: 10px;
}

.pagination a.current {
    font-weight: bold;
    text-decoration: none;
}

