body { background: #ccc; color: #333; padding: 0; font-size: 12px; font-family: sans-serif; line-height: 1.5em; }

a { color: #069; }

h1 { margin: 0; font-size: 2em; font-weight: normal; }
h2 { margin: 0; font-size: 1em; font-weight: bold; }

.layout { overflow: hidden; }

.panel { width: 25%; float: left; }
.panelHolder { padding: 1em; }

.items { margin: 1em 0; padding: 0; list-style: none; border: 1px solid #999; background: #fff; -moz-box-shadow: 0 0 2px #999; }
.items li { padding: 1em; background-image: -moz-linear-gradient( #fff, #f2f2f2 ); -moz-box-shadow: inset 0 -1px 1px #ccc, inset 0 0 2px #fff; }
.items li:hover { background-image: -moz-linear-gradient( #f2f2f2, #fff ); }
.items li.active { background-image: -moz-linear-gradient( #f2f2f2, #ccc ); }
.items h2 { float: left; }
.items h2 a { color: #333; text-decoration: none; text-shadow: #fff 0 1px; }
.items .labels { float: right; }
.items li .general { overflow: hidden; }
.items .details { display: none; }
.items .active .details { display: block; }

.labels span { font-size: 0.8em; text-transform: uppercase; color: #fff; background: #999; padding: 0 0.5em; -moz-border-radius: 1em; -webkit-border-radius: 1em; border-radius: 1em; }
.labels .success { background: #009900; }
.labels .running { background: #ff9900; }

.details p { margin: 0.5em 0; }
.details strong { display: block; font-weight: normal; font-size: 0.8em; text-transform: uppercase; color: #999999; }

.icon { vertical-align: middle; }

.note { margin: 0; color: #999; font-size: 0.8em; clear: both; }

dl { margin: 1em 0; }
dt { font-size: 0.8em; text-transform: uppercase; color: #999; padding: 0; margin: 0; }
dd { padding: 0; margin: 0.5em 0; }
