{% extends "base.html" %}
{% load i18n %}

{% block header %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-inner">
            <div class="container">
                <div class="header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-ex1-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">{{ site }}</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li {% if menu_active == "dashboard" %} class="active"{% endif %}>
                            <a href="{% url 'wsgiadmin.useradmin.views.info' %}">{% trans "Dashboard" %}</a>
                        </li>
                        {% if user.parms.enable %}
                            {% if superuser.is_superuser and settings.OLD %}
                                <!--<li {% if menu_active == "domains" %} class="active"{% endif %}>
                            <a href="{% url 'domains_list' %}">{% trans "Domains" %}</a>
                        </li>-->
                            {% endif %}
                            {% if config.handle_dns %}
                                <li {% if menu_active == "dns" %} class="active"{% endif %}>
                                    <a href="{% url 'dns_list' %}">{% trans "DNS" %}</a>
                                </li>
                            {% endif %}
                            {% if settings.OLD and user.usersite_set.count %}
                                <li {% if menu_active == "webapps" %} class="active"{% endif %}>
                                    <a href="{% url 'app_list' %}">{% trans "Web apps" %}</a>
                                </li>
                            {% endif %}
                            <li {% if menu_active == "apps" %} class="active"{% endif %}>
                                <a href="{% url 'apps_list' %}">{% trans "Apps" %}</a>
                            </li>
                            {% if superuser.is_superuser and settings.VIRT %}
                                <li {% if menu_active == "virt" %} class="active"{% endif %}>
                                    <a href="{% url 'virt_list' %}">{% trans "VM" %}</a>
                                </li>
                            {% endif %}
                            {% if settings.OLD %}
                                {% if user.mysqldb_set.count or user.pgsql_set.count %}
                                    <li{% if menu_active == "dbs" %} class="active"{% endif %}>
                                        <a href="{% url 'db_list' %}">{% trans "Databases" %}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            {% if settings.OLD and user.ftp_set.count %}
                                <li{% if menu_active == "ftps" %} class="active"{% endif %}>
                                    <a href="{% url 'ftp_list' %}">{% trans "FTP" %}</a>
                                </li>
                            {% endif %}
                        {% endif %}
                        <li {% if menu_active == "emails" %} class="active"{% endif %}>
                            <a href="{% url 'mailbox_list' %}">{% trans "E-mails" %}</a>
                        </li>
                        <li
                                {% if menu_active == "settings" %} class="active"{% endif %}>
                            <a href="{% url 'wsgiadmin.useradmin.views.change_passwd' %}">{% trans "Settings" %}</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {% if superuser != u %}
                                    {{ u.username }}
                                {% else %}
                                    {{ u.username }}
                                {% endif %}
                                {% if u.is_superuser %}({% trans "superuser" %}){% endif %}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% if superuser != u %}
                                <li><a href="{% url 'wsgiadmin.users.views.switch_to_admin' %}"><span class="glyphicon glyphicon-arrow-left"></span> {% trans "back" %}</a></li>
                                <li class="divider"></li>
                                {% endif %}
                                <li><a href="{% url 'django.contrib.auth.views.logout' %}"><span class="glyphicon glyphicon-remove"></span> {% trans "Logout" %}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    <div class="row">
    <div class="col-md-3">
    <div class="well well-sm sidebar-nav">
    <ul class="nav nav-list">
    {% if menu_active == "dashboard" %}
        <li class="nav-header">{% trans "Dashboard" %}</li>
        <li>
            <a href="{% url 'wsgiadmin.useradmin.views.info' %}">
                <span class="glyphicon glyphicon-home"></span>
                {% trans "Home" %}
            </a>
        </li>
        <li>
            <a href="{% url 'credit_stats' %}">
                <span class="glyphicon glyphicon-list-alt"></span>
                {% trans "Payout stats" %}
            </a>
        </li>
        <li>
            <a href="{% url 'payments_info' %}">
                <span class="glyphicon glyphicon-list-alt"></span>
                {% trans "Bought credit" %}
            </a>
        </li>
        <li>
            <a href="{% url 'credit' %}" style="color: red;">
                <span class="glyphicon glyphicon-plus"></span>
                {% trans "Buy some credit" %}
            </a>
        </li>
        {% if superuser.is_superuser %}
            <li class="divider"></li>
            <li class="nav-header">{% trans "Master panel" %}</li>
            <li>
                <a href="{% url 'send_email' %}" class="red">
                    <span class="glyphicon glyphicon-lock"></span>
                    {% trans "Send group e-mail" %}
                </a>
            </li>
            <li>
                <a href="{% url 'wsgiadmin.useradmin.views.master' %}" class="red">
                    <span class="glyphicon glyphicon-lock"></span>
                    {% trans "Master panel" %}
                </a>
            </li>
            <li>
                <a href="{% url 'wsgiadmin.users.views.show' %}">
                    <span class="glyphicon glyphicon-list"></span>
                    {% trans "User's list" %}
                </a>
            </li>
        {% endif %}
    {% endif %}
    {% if menu_active == "dns" %}
        <li class="nav-header">{% trans "DNS settings" %}</li>
        <li>
            <a href="{% url 'dns_list' %}">
                <span class="glyphicon glyphicon-list"></span>
                {% trans "Your domains" %}
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="{% url 'dns_create' %}">
                <span class="glyphicon glyphicon-plus"></span>
                {% trans "Add domain" %}
            </a>
        </li>
    {% endif %}
    {% if menu_active == "domains" %}
        <li class="nav-header">{% trans "Domains" %}</li>
        <li>
            <a href="{% url 'domains_list' %}">
                <span class="glyphicon glyphicon-list"></span>
                {% trans "Domains list" %}
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="{% url 'wsgiadmin.old.domains.views.add' %}">
                <span class="glyphicon glyphicon-plus"></span>
                {% trans "Add registered domain" %}
            </a>
        </li>
    {% endif %}
    {% if menu_active == "webapps" %}
        <li class="nav-header">{% trans "Web applications" %}</li>
        <li>
            <a href="{% url 'app_list' %}">
                <span class="glyphicon glyphicon-list"></span>
                {% trans "Your apps" %}</a>
        </li>
        <!--<li class="divider"></li>
                        <li>
                            <a href="{% url 'app_static' app_type='static' %}">
                                <span class="glyphicon glyphicon-plus"></span>
                                {% trans "Add static page" %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'app_static' app_type='php' %}">
                                <span class="glyphicon glyphicon-plus"></span>
                                {% trans "Add PHP app" %}</a>
                        </li>
                        <li>
                            <a href="{% url 'app_wsgi' %}">
                                <span class="glyphicon glyphicon-plus"></span>
                                {% trans "Add WSGI app" %}</a>
                        </li>-->
        <li class="divider"></li>
        <li>
            <a href="{% url 'cron_list' %}">
                <span class="glyphicon glyphicon-list"></span>
                {% trans "Crontab" %}</a>
        </li>
        <li>
            <a href="{% url 'create_cron' %}">
                <span class="glyphicon glyphicon-plus"></span>
                {% trans "Add cron record" %}</a>
        </li>
    {% endif %}
    {% if menu_active == "apps" %}
        <li class="nav-header">{% trans "Apps" %}</li>
        <li>
            <a href="{% url 'apps_list' %}"><span class="glyphicon glyphicon-list"></span> {% trans "Apps list" %}</a>
        </li>
        <li class="divider"></li>
        {% if "static" in capabilities %}
        <li>
            <a href="{% url 'app_add_static' %}"><span class="glyphicon glyphicon-plus"></span> {% trans "Add static app" %}</a>
        </li>
        {% endif %}
        {% if "php" in capabilities %}
        <li>
            <a href="{% url 'app_add_php' %}"><span class="glyphicon glyphicon-plus"></span> {% trans "Add php app" %}</a>
        </li>
        {% endif %}
        {% if "uwsgi" in capabilities or "python" in capabilities %}
        <li>
            <a href="{% url 'app_add_python' %}"><span class="glyphicon glyphicon-plus"></span> {% trans "Add python app" %}</a>
        </li>
        {% endif %}
        {% if "gunicorn" in capabilities %}
        <li>
            <a href="{% url 'app_add_gunicorn' %}"><span class="glyphicon glyphicon-plus"></span> {% trans "Add Gunicorn app" %} <span class="label label-danger">Beta</span></a>
        </li>
        {% endif %}
        {% if "node" in capabilities %}
        <li>
            <a href="{% url 'app_add_node' %}"><span class="glyphicon glyphicon-plus"></span> {% trans "Add Node.js app" %} <span class="label label-danger">Beta</span></a>
        </li>
        {% endif %}
        <!--<li>
        {% if "native" in capabilities %}
            <a href="{% url 'app_add_native' %}"><span class="glyphicon glyphicon-plus"></span> {% trans "Add native app" %}</a>
        </li>
        {% endif %}
        {% if "proxy" in capabilities %}
        <li>
            <a href="{% url 'app_add_proxy' %}"><span class="glyphicon glyphicon-plus"></span> {% trans "Add proxy" %}</a>
        </li>
        {% endif %}
        -->
    {% endif %}
    {% if menu_active == "virt" %}
        <li class="nav-header">{% trans "Virtual machines" %}</li>
        <li>
            <a href="{% url 'virt_list' %}"><span class="glyphicon glyphicon-list"></span> {% trans "Your virtual machines" %}</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="{% url 'virt_new' %}"><span class="glyphicon glyphicon-plus"></span> {% trans "New virtual machine" %}</a>
        </li>
    {% endif %}
    {% if menu_active == "dbs" %}
        <li class="nav-header">{% trans "Databases" %}</li>
        <li>
            <a href="{% url 'db_list' dbtype='mysql' %}">
                <span class="glyphicon glyphicon-list"></span>
                {% trans "MySQL databases" %}
            </a>
        </li>
        <li>
            <a href="{% url 'db_list' dbtype='pgsql' %}">
                <span class="glyphicon glyphicon-list"></span>
                {% trans "PostgreSQL databases" %}
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="{% url 'wsgiadmin.old.db.views.add' dbtype='mysql' %}">
                <span class="glyphicon glyphicon-plus"></span>
                {% trans "Add MySQL database" %}
            </a>
        </li>
        <li>
            <a href="{% url 'wsgiadmin.old.db.views.add' dbtype='pgsql' %}">
                <span class="glyphicon glyphicon-plus"></span>
                {% trans "Add postgresql database" %}
            </a>
        </li>
    {% endif %}
    {% if menu_active == "emails" %}
        <li class="nav-header">{% trans "E-mails" %}</li>
        <li>
            <a href="{% url 'mailbox_list' %}">
                <span class="glyphicon glyphicon-list"></span>
                {% trans "List of mailboxes" %}
            </a>
        </li>
        <li>
            <a href="{% url 'redirect_list' %}">
                <span class="glyphicon glyphicon-list"></span>
                {% trans "Redirections" %}
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="{% url 'email_domain_add' %}">
                <span class="glyphicon glyphicon-plus"></span>
                {% trans "Add domain for mailboxes" %}
            </a>
        </li>
        {% if u.email_domain_set.count %}
            <li>
                <a href="{% url 'add_mailbox' %}">
                    <span class="glyphicon glyphicon-plus"></span>
                    {% trans "Add mailbox" %}
                </a>
            </li>
            <li>
                <a href="{% url 'add_redirect' %}">
                    <span class="glyphicon glyphicon-plus"></span>
                    {% trans "Add redirection" %}
                </a>
            </li>
        {% endif %}
    {% endif %}
    {% if menu_active == "ftps" %}
        <li class="nav-header">{% trans "FTP accounts" %}</li>
        <li>
            <a href="{% url 'ftp_upsert' %}">
                <span class="glyphicon glyphicon-plus"></span>
                {% trans "Add FTP account" %}
            </a>
        </li>
        <li>
            <a href="{% url 'ftp_list' %}">
                <span class="glyphicon glyphicon-list"></span>
                {% trans "List of FTP accounts" %}
            </a>
        </li>
    {% endif %}
    {% if menu_active == "settings" %}
        <li class="nav-header">{% trans "Settings" %}</li>
        <li>
            <a href="{% url 'address_create' %}"><span class="glyphicon glyphicon-plus"></span> {% trans "New address" %}</a>
        </li>
        <li>
            <a href="{% url 'address_list' %}"><span class="glyphicon glyphicon-list"></span> {% trans "Addresses" %}</a>
        </li>
        <li><br></li>
        <li>
            <a href="{% url 'wsgiadmin.useradmin.views.change_passwd' %}">
                <span class="glyphicon glyphicon-lock"></span>
                {% trans "Change password" %}
            </a>
        </li>
        {% if user.parms.home != "/dev/null" %}
            <li>
                <a href="{% url 'wsgiadmin.users.views.ssh_passwd' %}">
                    <span class="glyphicon glyphicon-lock"></span>
                    {% trans "Change SSH/SFTP/FTP password" %}
                </a>
            </li>
        {% endif %}
        <li>
            <a href="{% url 'django.contrib.auth.views.logout' %}">
                <span class="glyphicon glyphicon-remove"></span>
                {% trans "Logout" %}
            </a>
        </li>
    {% endif %}
    </ul>
    </div>
    </div>
    <div id="main" class="col-md-9">
        <div id="notifications">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% if not user.parms.enable %}
                <div class="alert alert-{{ message.tags }}">{% trans "Your account has been disabled. Reason: insufficient amount of credits" %}</div>
            {% endif %}
        </div>
        {% block content %}{% endblock %}
    </div>
    </div>
{% endblock %}
