{% extends "admin.html" %}
{% load i18n %}

{% block title %}
    {% trans "Administration" %} &gt; {% trans "Web pages and apps" %}
{% endblock %}

{% block jsblock %}
    {{ block.super }}

    $(function() {
        $("#sites_list .site_delete").click(function() {
            var orly = confirm('{% trans "Are you sure?" %}');
            el = $(this);
            if (orly) {
                var site_id = $(this).attr('rel');
                $.ajax({
                    url:"{% url remove_site %}",
                    type:"POST",
                    data:{'site_id': site_id, 'csrfmiddlewaretoken':'{{ csrf_token }}' },
                    dataType:"json",
                    success:function(data) {
                        if (data.result == 'OK') {
                            el.parent().html(data.messages[1]);
                        } else {
                            alert(data.messages);
                        }
                    }
                });
            }
        });
    });

{% endblock %}

{% block content %}
    <h2>{% trans "Web pages and apps" %}</h2>
    <ul>
        <li>
            <a href="{% url wsgiadmin.apacheconf.views.add_static "0" %}">
                {% trans "Add static web page" %}
            </a>
        </li>
        <li>
            <a href="{% url wsgiadmin.apacheconf.views.add_static "1" %}">
                {% trans "Add PHP web page" %}
            </a>
        </li>
        <li>
            <a href="{% url app_wsgi %}">
                {% trans "Add WSGI app" %}
            </a>
        </li>
    </ul>

    <div id="message-box"></div>

    <h3>{% trans "List of existing apps and webs" %}</h3>

    <table>
        <thead>
        <tr>
            <th>{% trans "Create date" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Server name" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
        </thead>
        {% if sites %}
            <tbody id="sites_list">
            {% for site in sites.object_list %}
                <tr>
                    <td>{{ site.pub_date }}</td>
                    <td>{{ site.type }}</td>
                    <td>{{ site.server_name }}</td>
                    <td class="list_actions">
                        {% if site.type == "php" or site.type == "static" %}
                            <a href="{% url wsgiadmin.apacheconf.views.update_static site.id %}">
                                <img src="{{ STATIC_URL }}icons/raster/gray_dark/pen_alt_stroke_16x16.png" alt="Edit"/>
                            </a>
                        {% endif %}
                        {% if site.type == "uwsgi" or site.type == "modwsgi" %}
                            {% if site.type == "uwsgi" %}
                                <a href="{% url wsgiadmin.apacheconf.views.restart site.id %}"><img src="{{ STATIC_URL }}icons/raster/gray_dark/loop_16x16.png" alt="Restart"/></a>
                            {% endif %}
                            <a href="{% url wsgiadmin.apacheconf.views.app_wsgi site.id %}"><img src="{{ STATIC_URL }}icons/raster/gray_dark/pen_alt_stroke_16x16.png" alt="Edit"/></a>
                        {% endif %}

                        <a href="#" id="remove_{{ site.id }}" rel="{{ site.id }}" class="bold site_delete">
                            <img src="{{ STATIC_URL }}icons/raster/gray_dark/trash_fill_16x16.png" alt="Delete"/>
                        </a>
                        <span id="removed_{{ site.id }}" class="info"></span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">
                    <div class="pagination">
                        {% if sites.has_previous %}
                            <a href="{% url wsgiadmin.apacheconf.views.apache 1 %}" title="{% trans "First page" %}">&laquo; {% trans "First" %}</a>{% endif %}
                        {% if sites.has_previous %}
                            <a href="{% url wsgiadmin.apacheconf.views.apache sites.previous_page_number %}" title="{% trans "Previous page" %}">&laquo; {% trans "Previous" %}</a>{% endif %}

                        {% for p in paginator.page_range %}
                            {% if p == num_page %}
                                <a href="{% url wsgiadmin.apacheconf.views.apache p %}" class="number current" title="{{ p }}">{{ p }}</a>
                            {% else %}
                                <a href="{% url wsgiadmin.apacheconf.views.apache p %}" class="number" title="{{ p }}">{{ p }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if sites.has_next %}
                            <a href="{% url wsgiadmin.apacheconf.views.apache sites.next_page_number %}" title="{% trans "Next page" %}">{% trans "Next" %} &raquo;</a>{% endif %}
                        {% if sites.has_next %}
                            <a href="{% url wsgiadmin.apacheconf.views.apache paginator.num_pages %}" title="{% trans "Last page" %}">{% trans "Last" %} &raquo;</a>{% endif %}
                    </div>
                    <div class="clear"></div>
                </td>
            </tr>
            </tfoot>
        {% else %}
            <tbody>
            <tr>
                <td colspan="4">{% trans "Crap! No web found. However, you can add one with the menu on left side." %}</td>
            </tr>
            </tbody>
        {% endif %}
    </table>

{% endblock %}
