{% extends "admin.html" %}
{% load i18n %}

{% block title %}
    {% trans "Administration" %} &gt; {% trans "Web pages and apps" %}
{% endblock %}

{% comment %}
{% block jsblock %}
    {{ block.super }}
{% endblock %}
{% endcomment %}
{% block content %}
    <div id="message-box"></div>

    <h3>{% trans "List of existing apps and webs" %}</h3>
    <table>
        <thead>
        <tr>
            <th>{% trans "Create date" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Server name" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
        </thead>
        {% if object_list %}
            <tbody id="objects_list">
            {% for site in object_list %}
                <tr>
                    <td>{{ site.pub_date }}</td>
                    <td>{% trans site.type %}</td>
                    <td>{{ site.server_name }}</td>
                    <td class="list_actions">
                        {% if site.type == "php" or site.type == "static" %}
                            <a href="{% url wsgiadmin.apacheconf.views.update_static site.id %}">
                                <img src="{{ STATIC_URL }}icons/raster/gray_dark/pen_alt_stroke_16x16.png" alt="{% trans "Edit" %}"/>
                            </a>
                        {% endif %}
                        {% if site.type == "uwsgi" or site.type == "modwsgi" %}
                            {% if site.type == "uwsgi" %}
                                <a href="{% url wsgiadmin.apacheconf.views.restart site.id %}" title="{% trans "Restart" %}">
                                    <img src="{{ STATIC_URL }}icons/raster/gray_dark/loop_16x16.png" alt="{% trans "Restart" %}"/>
                                </a>
                            {% endif %}
                            <a href="{% url wsgiadmin.apacheconf.views.app_wsgi site.id %}" title="{% trans "Edit" %}">
                                <img src="{{ STATIC_URL }}icons/raster/gray_dark/pen_alt_stroke_16x16.png" alt="{% trans "Edit" %}"/>
                            </a>
                        {% endif %}
                        <a href="#" id="remove_{{ site.id }}" rel="{{ site.id }}" class="bold object_delete" title="{% trans "Delete" %}">
                            <img src="{{ STATIC_URL }}icons/raster/gray_dark/trash_fill_16x16.png" alt="{% trans "Delete" %}"/>
                        </a>
                        <span id="removed_{{ site.id }}" class="info"></span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">
                    <div class="pagination">
                        {% include "paginator.html" %}
                    </div>
                    <div class="clear"></div>
                </td>
            </tr>
            </tfoot>
        {% else %}
            <tbody>
            <tr>
                <td colspan="4">{% trans "Crap! No web found. However, you can add one with the menu on left side." %}</td>
            </tr>
            </tbody>
        {% endif %}
    </table>
{% endblock %}
