<!DOCTYPE html>
{% load i18n %}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-language" content="cs"/>
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content="{{ site }}"/>
    <meta name="description" content="{{ site }}"/>
    <link rel="icon" href="{{ STATIC_URL }}favicon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="all"/>
    <!--[if IE lt 8]>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie.css" />
    <![endif]-->
    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script type="text/javascript">
        var delete_success_callback = function (data) {
            if (data.result == 'OK') {
                el.parent().html(data.messages[1]);
            } else {
                alert(data.messages[1]);
            }
        }
        {% block jsblock %}
            $(function () {
                $("#objects_list .object_delete").click(function () {
                    var orly = confirm('{% trans "Are you sure?" %}');
                    el = $(this);
                    if (orly) {
                        var object_id = $(this).attr('rel');
                        $.ajax({
                            url: '{% if delete_url %}{{ delete_url }}{% else %}not-def{% endif %}',
                            type: "POST",
                            data: {
                                'object_id': object_id,
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                            dataType: "json",
                            success: delete_success_callback
                        });
                    }
                });
            });
        {% endblock %}
    </script>

    <title>{% trans "Administration" %} {{ site }}</title>
    {% block extra %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">

<div id="top" class="container-fluid">
    {% block header %}{% endblock %}
    {% block body %}{% endblock %}
</div>
</body>
</html>
