{% extends "admin.html" %}
{% load i18n %}

{% block title %}
    {% trans "Administration" %} &gt; {{ dbtype }} {% trans "credit stats" %}
{% endblock %}

{% block content %}

    <h3>{% trans "Credit statistics" %}</h3>

    <table class="table table-striped">
    <tr>
        <th colspan="3">{% trans "What you payed in last 14 days" %}</th>
    </tr>
    {% for day in days %}
    <tr>
        <td>{{ day.date }}</td>
        <td>{{ day.cost|floatformat:2 }}</td>
    </tr>
    {% endfor %}
    <table class="table table-striped">
    <tr>
        <th colspan="3">{% trans "What you payed by months" %}</th>
    </tr>
    {% for month in months %}
    <tr>
        <td>{{ month.label }}</td>
        <td>{{ month.cost|floatformat:2 }}</td>
    </tr>
    {% endfor %}
    </table>

    <table class="table table-striped">
    <tr>
        <th colspan="3">{% trans "Buyed credits" %}</th>
    </tr>
    <tr>
        <td>{% trans "Date" %}</td>
        <td>{% trans "Credits" %}</td>
        <td>{% trans "Earned bonus" %}</td>
    </tr>
    {% for credit in credits %}
    <tr>
        <td>{{ credit.date }}</td>
        <td>{{ credit.value|floatformat:2 }}</td>
        <td>{{ credit.bonus|floatformat:2 }}</td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}
