{% extends "admin.html" %}
{% load i18n %}

{% block title %}
    {% trans "Administration" %} &gt; {% trans "E-mail boxes" %}
{% endblock %}

{% comment %}
{% block jsblock %}
    {{ block.super }}
{% endblock %}
{% endcomment %}

{% block content %}
    <div id="message-box"></div>

    <h3>{% trans "List of e-mail boxes" %}</h3>
    <hr>
    <p>
        <a href="{% url 'email_domain_add' %}" class="btn btn-primary"><span class="glyphicon-plus glyphicon"></span> {% trans "Add domain" %}</a>
        {% if object_list %}<a href="{% url 'add_mailbox' %}" class="btn btn-primary"><span class="glyphicon-plus glyphicon"></span> {% trans "Add mailbox" %}</a>{% endif %}
    </p>
    <hr>

    <table class="table table-striped">
        {% for domain in object_list %}
            <tr>
                <th>{% trans "Domain" %} {{ domain.name }}</th>
                <td><a href="#a" class="btn btn-sm btn-danger" onclick="if(confirm('{% trans "Are you sure? This delete all mailboxes under this domain." %}')) document.location='{% url 'email_domain_delete' %}?domain_pk={{ domain.id }}';"><span class="glyphicon-remove glyphicon"></span> Delete whole domain</a></td>
            </tr>
            {% for email in domain.boxes %}
                <tr>
                    <td>{{ email.login }}@{{ email.domain.name }}</td>
                    <td>
                        <a href="{% url 'wsgiadmin.emails.views.changePasswdBox' email.id %}" class="btn btn-warning btn-sm">{% trans "Change password" %}</a>
                        <a href="#a" class="btn btn-danger btn-sm" onclick="if(confirm('{% trans "Are you sure?" %}')) document.location='{% url 'mailbox_remove' %}?pk={{ email.id }}';">{% trans "Delete" %}</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2"></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
