{% extends "admin.html" %}
{% load i18n %}

{% block title %}
	{% trans "Administrace > E-mail boxes" %}
{% endblock %}
{% block jsblock %}
function remove(what) {
	$("#remove_"+what).hide()
	$("#removed_"+what).load("{% url wsgiadmin.emails.views.removeBox 0 %}"+what)
}
{% endblock %}
{% block content %}

<h2>E-mail boxes</h2>

<div id="message-box"></div>

<h3>{% trans "List of e-mail boxes" %}</h3>
<table>
	<thead>
		<tr>
			<th>{% trans "E-mail" %}</th>
			<th>{% trans "Created" %}</th>
			<th>{% trans "Action" %}</th>
		</tr>
	</thead>
	{% if emails %}
	<tbody>
		{% for email in emails.object_list %}
		<tr>
			<td>{{ email.login }}@{{ email.domain.name }}</td>
			<td>{{ email.pub_date|date:"d.m.Y" }}</td>
			<td>
				<a href="{% url wsgiadmin.emails.views.changePasswdBox email.id %}" title="{% trans "Edit" %}"><img src="{{ STATIC_URL }}icons/raster/gray_dark/key_stroke_16x16.png" alt="{% trans "Change password" %}" /></a>
				<a href="#" id="remove_{{email.id}}" onclick="if(confirm('{% trans "Are you sure?" %}')) {remove('{{email.id}}');};" class="bold"><img src="{{ STATIC_URL }}icons/raster/gray_dark/trash_fill_16x16.png" alt="Delete" /></a>
				<span id="removed_{{email.id}}" class="info"></span>
			</td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3">
					<div class="pagination">
						{% if emails.has_previous %}<a href="{% url wsgiadmin.emails.views.boxes 1 %}" title="{% trans "First page" %}">&laquo; {% trans "First" %}</a>{% endif %}
						{% if emails.has_previous %}<a href="{% url wsgiadmin.emails.views.boxes emails.previous_page_number %}" title="{% trans "Previous page" %}">&laquo; {% trans "Previous" %}</a>{% endif %}

						{% for p in paginator.page_range %}
							{% if p == num_page %}
								<a href="{% url wsgiadmin.emails.views.boxes p %}" class="number current" title="{{ p }}">{{ p }}</a>
							{% else %}
								<a href="{% url wsgiadmin.emails.views.boxes p %}" class="number" title="{{ p }}">{{ p }}</a>
							{% endif %}
						{% endfor %}

						{% if emails.has_next %}<a href="{% url wsgiadmin.emails.views.boxes emails.next_page_number %}" title="{% trans "Next page" %}">{% trans "Next" %} &raquo;</a>{% endif %}
						{% if emails.has_next %}<a href="{% url wsgiadmin.emails.views.boxes paginator.num_pages %}" title="{% trans "Last page" %}">{% trans "Last" %} &raquo;</a>{% endif %}
					</div>
					<div class="clear"></div>
			</td>
		</tr>
	</tfoot>
	{% else %}
	<tbody>
	<tr>
		<td colspan="3">{% trans "Oh no, you still havn't created any e-mail box, but don't worry, you can use the menu on left side to fix that." %}</a>.</td>
	</tr>
	</tbody>
	{% endif%}
</table>

{% endblock %}
