{% extends "admin.html" %}
{% load i18n %}

{% block title %}
    {% trans "Administration" %} &gt; {{ dbtype }} {% trans "your credit" %}
{% endblock %}

{% block content %}

    <h3>{% blocktrans %}Earn some credit{% endblocktrans %}</h3>

    <table>
    <tr>
        <th colspan="3">{% trans "Summary" %}</th>
    </tr>
    {% if u.parms.fee %}
            <tr>
                <td>{% trans "Webs/Applications" %}</td>
                <td>{{ u.parms.count_sites }}×</td>
                <td>{{ u.parms.fee|floatformat:2 }} cr.</td>
            </tr>
        {% else %}
            <tr>
                <td>{% trans "Webs/Applications" %}</td>
                <td>{{ u.parms.count_sites }}×</td>
                <td>{{ u.parms.pay_for_sites|floatformat:2 }} cr.</td>
            </tr>
        {% endif %}

        {% if not u.parms.fee %}
            <tr>
                <td><strong>{% trans "Credits per day" %}</strong></td>
                <td></td>
                <td>{{ u.parms.pay_total_day|floatformat:2 }} cr.</td>
            </tr>
            <tr>
                <td><strong>{% trans "Credits per month" %}</strong></td>
                <td></td>
                <td>{{ u.parms.pay_total_month|floatformat:2 }} cr.</td>
            </tr>
        {% endif %}
    <tr>
        <td><strong>{% trans "Your credits" %}</strong></td>
        <td></td>
        {% if u.parms.credit < 0 %}
            <td style="color: red;"><strong>{{ u.parms.credit|floatformat:2 }} cr.</strong></td>
        {% else %}
            <td style="color: green;"><strong>{{ u.parms.credit|floatformat:2 }} cr.</strong></td>
        {% endif %}
    </tr>
    {% if u.parms.credit_until %}
    <tr>
        <td><strong>{% trans "You can use services until" %}</strong></td>
        <td></td>
        <td>~ {{ u.parms.credit_until }}</td>
    </tr>
    {% endif %}
    <tr>
        <td><strong>{% trans "Credits versus currency" %}</strong></td>
        <td></td>
        <td>{{ config.credit_description }}</td>
    </tr>
    </table>

    <table>
    <tr>
        <th colspan="2">{% trans "Earn some more" %}</th>
    </tr>
    <tr>
        <td>{% trans "Earn for month" %} (30 {% trans "days" %})</td>
        <td>
            <form method="post" action="{% url credit %}">
                <input type="hidden" name="credit" value="{{ for_month }}" />
                <strong>+{{ for_month|floatformat:2 }} cr.</strong>
                <input type="submit" value="{% trans "earn" %}" />
                {% csrf_token %}
            </form>
        </td>
    </tr>
    <tr>
        <td>{% trans "Earn for three months" %} (90 {% trans "days" %})</td>
        <td>
            <form method="post" action="{% url credit %}">
                <input type="hidden" name="credit" value="{{ for_three_months }}" />
                <strong>+{{ for_three_months|floatformat:2 }} cr.</strong>
                <input type="submit" value="{% trans "earn" %}" />
                {% csrf_token %}
            </form>
        </td>
    </tr>
    <tr>
        <td>{% trans "Earn for six months" %} (180 {% trans "days" %})</td>
        <td>
            <form method="post" action="{% url credit %}">
                <input type="hidden" name="credit" value="{{ for_six_months }}" />
                <strong>+{{ for_six_months|floatformat:2 }} cr.</strong>
                <input type="submit" value="{% trans "earn" %}" />
                {% csrf_token %}
            </form>
        </td>
    </tr>
    <tr>
        <td>{% trans "Earn for year" %} (360 {% trans "days" %})</td>
        <td>
            <form method="post" action="{% url credit %}">
                <input type="hidden" name="credit" value="{{ for_year }}" />
                <strong>+{{ for_year|floatformat:2 }} cr.</strong>
                <input type="submit" value="{% trans "earn" %}" />
                {% csrf_token %}
            </form>
        </td>
    </tr>
    <tr>
        <td>{% trans "Earn custom" %}</td>
        <td>
            <form method="post" action="{% url credit %}">
                <input type="text" name="credit" value="100" />
                <input type="submit" value="{% trans "earn" %}" />
                {% csrf_token %}
            </form>
        </td>
    </tr>
    </table>
    
{% endblock %}
