{% extends "admin.html" %}
{% load i18n %}

{% block title %}
    {% trans "Administration" %} &gt; {{ dbtype }} {% trans "databases" %}
{% endblock %}

{% comment %}
{% block jsblock %}
    {{ block.super }}
{% endblock %}
{% endcomment %}

{% block content %}
    <div id="message-box"></div>

    <h3>{% blocktrans %}List of {{ dbtype }} databases{% endblocktrans %}</h3>
    <table>
        <thead>
        <tr>
            <th>{% trans "Database name" %}</th>
            <th>{% trans "Database actions" %}</th>
        </tr>
        </thead>
        {% if object_list %}
            <tbody id="objects_list">
            {% for db in object_list %}
                <tr>
                    <td>{{ db }}</td>
                    <td id="db_{{ db }}">
                        <a href="{% url db_passwd dbtype=dbtype dbname=db.dbname %}" class="db_pwdchange" title="{% trans "Change password" %}">
                            <img src="{{ STATIC_URL }}icons/raster/gray_dark/key_stroke_16x16.png" alt="{% trans "Change password" %}"/>
                        </a>
                        <a href="#" class="object_delete" title="{% trans "Delete" %}" rel="{{ db.id }}">
                            <img src="{{ STATIC_URL }}icons/raster/gray_dark/trash_fill_16x16.png" alt="{% trans "Delete" %}"/>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2">
                    <div class="pagination">
                        {% include "paginator.html" %}
                    </div>
                    <div class="clear"></div>
                </td>
            </tr>
            </tfoot>
        {% else %}
            <tbody>
            <tr>
                <td colspan="2">{% trans "You don't have any database, but don't worry! You can add some by the panel on left side." %}</td>
            </tr>
            </tbody>
        {% endif %}
    </table>
{% endblock %}
