{% extends "admin.html" %}
{% load i18n %}

{% block title %}
    {% trans "Administration" %} &gt; {% trans "Domains" %}
{% endblock %}

{% block jsblock %}
    {{ block.super }}

    $(function() {
        $("#objects_list .object_delete").click(function() {
            var orly = confirm('{% trans "Are you sure?" %}');
            el = $(this);
            if (orly) {
                var object_id = $(this).attr('rel');
                $.ajax({
                    url:"{% url domain_remove %}",
                    type:"POST",
                    data:{'object_id': object_id, 'csrfmiddlewaretoken':'{{ csrf_token }}' },
                    dataType:"json",
                    success:function(data) {
                        if (data.result == 'OK') {
                            el.parent().html(data.messages[1]);
                        } else {
                            alert(data.messages[1]);
                        }
                    }
                });
            }
        });
    });
{% endblock %}

{% block content %}
    <div id="message-box"></div>

    <h2>{% trans "Domains" %}</h2>

    <p>
        <a href="{% url wsgiadmin.domains.views.add %}">{% trans "Add registered domain" %}</a>.
    </p>

    <h3>{% trans "List of your domains" %}</h3>

    <table>
        <thead>
        <tr>
            <th>{% trans "Insert date" %}</th>
            <th>{% trans "Domain" %}</th>
            <th>{% trans "Action" %}</th>
        </tr>
        </thead>
        {% if object_list %}
            <tbody id="objects_list">
            {% for domain in object_list %}
                <tr>
                    <td>{{ domain.pub_date|date:"d.m.Y" }}</td>
                    <td>{{ domain.name }}</td>
                    <td id="domain_{{ domain.id }}">
                        <a href="#" title="{% trans "Delete" %}" rel="{{ domain.id }}" class="object_delete">
                            <img src="{{ STATIC_URL }}icons/raster/gray_dark/trash_fill_16x16.png" alt="{% trans "Delete" %}"/>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3">
                    <div class="pagination">
                        {% include "paginator.html" %}
                    </div>
                    <div class="clear"></div>
                </td>
            </tr>
            </tfoot>
        {% else %}
            <tbody>
            <tr>
                <td colspan="3">{% trans "No domain have been inserted and it means you can't use all services. Just use the left menu and fix it." %}</td>
            </tr>
            </tbody>
        {% endif %}
    </table>

{% endblock %}
