{% extends "admin.html" %}
{% load i18n %}

{% block title %}
    {% trans "Administration" %} &gt; {% trans "FTP accounts" %}
{% endblock %}

{% block content %}
    <div id="message-box"></div>

    <h3>{% trans "List of FTP accounts" %}</h3>
    <table>
        <thead>
        <tr>
            <th>{% trans "Login" %}</th>
            <th>{% trans "Directory" %}</th>
            <th>{% trans "Action" %}</th>
        </tr>
        </thead>
        {% if object_list %}
            <tbody id="objects_list">
            {% for ftp in object_list %}
                <tr>
                    <td>{{ ftp.username }}</td>
                    <td>{{ ftp.dir }}</td>
                    <td id="ftp_{{ ftp.id }}">
                        <a href="{% url ftp_passwd ftp.id %}" title="{% trans "Change password" %}">
                            <img src="{{ STATIC_URL }}icons/raster/gray_dark/key_stroke_16x16.png" alt="{% trans "Change password" %}"/>
                        </a>
                        <a href="{% url ftp_upsert ftp.id %}" title="{% trans "Edit" %}">
                            <img src="{{ STATIC_URL }}icons/raster/gray_dark/pen_alt_stroke_16x16.png" alt="{% trans "Edit" %}"/>
                        </a>
                        <a href="#" class="object_delete" title="{% trans "Delete" %}" rel="{{ ftp.id }}">
                            <img src="{{ STATIC_URL }}icons/raster/gray_dark/trash_fill_16x16.png" alt="{% trans "Delete" %}"/>
                        </a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3">
                    <div class="pagination">
                        {% include "paginator.html" %}
                    </div>
                    <div class="clear"></div>
                </td>
            </tr>
            </tfoot>
        {% else %}
            <tbody>
            <tr>
                <td colspan="3">{% trans "No FTP account created yet" %}</td>
            </tr>
            </tbody>
        {% endif %}
    </table>

{% endblock %}
