{% extends "admin.html" %}
{% load i18n %}

{% block title %}
    {% trans "Administration" %} &gt; {% trans "Summary informations" %}
{% endblock %}

{% block content %}
    <div class="clear"></div>

    <h2>{% trans "Account's informations" %}</h2>

    <table class="table table-striped">
        {% if u.parms.address.getName %}
        <tr>
            <td><strong>{% trans "Name" %}</strong></td>
            <td>{{ u.parms.address.getName }}</td>
        </tr>
        {% endif %}
        <tr>
            <td><strong>{% trans "Username" %}</strong></td>
            <td>{{ u.parms.user.username }}</td>
        </tr>
        {% if u.parms.home != "/dev/null" %}
        <tr>
            <td><strong>{% trans "Home directory" %}</strong></td>
            <td>{{ u.parms.home }}</td>
        </tr>
        {% endif %}
        {% if u.parms.fee %}
            <tr>
                <td><strong>{% trans "Flat rate" %}</strong></td>
                <td>{{ u.parms.fee }} cr.</td>
            </tr>
        {% else %}
            <tr>
                <td><strong>{% trans "Discount" %} (%)</strong></td>
                <td>{{ u.parms.discount }}</td>
            </tr>
        {% endif %}
    </table>

    <h3>{% trans "Service fees" %}</h3>
    <table class="table table-striped">
        <tr>
            <th><strong>{% trans "Service" %}</strong></th>
            <th><strong>{% trans "Count" %}</strong></th>
            <th><strong>{% trans "Credits per day" %}</strong></th>
        </tr>
        <tr>
            <td>{% trans "Apps" %}</td>
            <td>{{ u.parms.count_apps }}×</td>
            <td>{{ u.parms.pay_for_apps|floatformat:2 }}</a>
            </td>
        </tr>
        {% if u.parms.count_domains %}
        <tr>
            <td>{% trans "Domains" %}</td>
            <td>{{ u.parms.count_domains }}×</td>
            <td>{% trans "More informations in" %}
                <a href="{% url 'domains_list' %}">{% trans "domains list" %}</a>
            </td>
        </tr>
        {% endif %}
        {% if u.parms.fee %}
            <tr>
                <td>{% trans "Webs/Applications" %}</td>
                <td>{{ u.parms.count_sites }}×</td>
                <td>{{ u.parms.fee|floatformat:2 }}</td>
            </tr>
        {% elif u.parms.count_sites %}
            <tr>
                <td>{% trans "Webs/Applications" %}</td>
                <td>{{ u.parms.count_sites }}×</td>
                <td>{{ u.parms.pay_for_sites|floatformat:2 }}</td>
            </tr>
        {% endif %}

        {% if not u.parms.fee %}
            <tr>
                <td><strong>{% trans "Credits per day" %}</strong></td>
                <td></td>
                <td>{{ u.parms.pay_total_day|floatformat:2 }}</td>
            </tr>
            <tr>
                <td><strong>{% trans "Credits per month" %}</strong></td>
                <td></td>
                <td>{{ u.parms.pay_total_month|floatformat:2 }}</td>
            </tr>
        {% endif %}
            <tr>
                <td><strong>{% trans "Your credits" %}</strong></td>
                <td></td>
                {% if u.parms.credit < 0 %}
                    <td style="color: red;"><strong>{{ u.parms.credit|floatformat:2 }}</strong> <a href="{% url 'credit' %}">{% trans "Buy some more!" %}</a></td>
                {% else %}
                    <td style="color: green;"><strong>{{ u.parms.credit|floatformat:2 }}</strong> <a href="{% url 'credit' %}">{% trans "Buy some more!" %}</a></td>
                {% endif %}
            </tr>
            {% if u.parms.credit_until %}
            <tr>
                <td><strong>{% trans "You can use services until" %}</strong></td>
                <td></td>
                <td>~ {{ u.parms.credit_until }}</td>
            </tr>
            {% endif %}
    </table>

    {% if not_payed %}
        <h3 class="red">{% trans "Credits waiting for payment" %}</h3>
        <table class="table table-striped">
        <tr>
            <th><strong>{% trans "Date" %}</strong></th>
            <th><strong>{% trans "Credits" %}</strong></th>
            <th><strong>{% trans "Price" %}</strong></th>
        </tr>
        {% for credit in not_payed %}
        <tr>
            <td><a href="{% url 'payment_info' pk=credit.id %}">{{ credit.date }}</td>
            <td>{{ credit.value }}</td>
            <td>{{ credit.price }} {{ credit.currency }}</td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}

{% endblock %}
