{% extends "form.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block container %}
    <div class="row">
        <div class="span6">
            <h2>{% trans "Create new account" %}</h2>
        </div>
    </div>
    <div class="row">
        <div class="span6 offset2">
            {% trans "To create a new account" %}
            <a href="{% url registration %}">{% trans "use following form" %}</a>
        </div>
    </div>
    <div class="row">
        <div> &nbsp;</div>
    </div>
    <div class="row">
        <div class="span6">
            <h2>{% trans "Login to existing account" %}</h2>
        </div>
    </div>
    <div class="row">
        <div class="span6 offset2">
            {% crispy form form_helper %}
        </div>
    </div>
    <div class="row">
        <div class="span3 offset3">

            <a href="{% url reset_passwd %}">
                {% trans "Send forgotten password" %}
            </a>
        </div>

    </div>
{% endblock %}
