{% extends "form.html" %}
{% load i18n %}

{% block container %}
    <h2>{% trans "Login" %}</h2>

    <form action="." method="post" id="reg-form">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <input type="submit" name="" class="input-submit-prihlasit" value="{% trans "Login" %}"/>
        </p>

        <p class="help">
            <a href="{% url reset_passwd %}">
                {% trans "Send forgotten password" %}
            </a> &nbsp;
            <a href="{% url registration %}">{% trans "Registration" %}</a>
        </p>
    </form>
{% endblock %}
