{% extends "admin.html" %}
{% load i18n %}

{% block title %}
	{% trans "Administrace > Souhrné informace" %}
{% endblock %}

{% block content %}
	<h2>{% trans "Master panel" %}</h2>

	<table>
		<tr>
			<th>{% trans "Incoming per day and month" %}</th>
			<td>{{ balance_day|floatformat:2 }} Kč/{{ balance_month|floatformat:2 }} Kč</td>
		</tr>
	</table>

	<h3>{% trans "Mass actions" %}</h3>

	<ul>
		<li>{% trans "Reload DNS zones (remove all zones and recreate them)" %} - {% trans "remove old zones" %}</li>
		<li></li>
	</ul>

	<h3>{% trans "Users under 300 Kč" %}</h3>

	<table>
		<tr>
			<th>{% trans "Username" %}</th>
			<th>{% trans "Balance" %}</th>
		</tr>
		{% for balance in balanes %}
		<tr>
			<td>{{ balance.username }}</td>
			<td>{{ balance.cost }} Kč</td>
		</tr>
		{% endfor %}
	</table>

    <h2>{% trans "Copy php/static application" %}</h2>

    <p>
        <form action="{% url app_copy %}" method="post">
            {% csrf_token %}
            <select name="app">
                {% for app in apps %}
                <option value="{{ app.id }}">{{ app.main_domain.name }}</option>
                {% endfor %}
            </select>
            <input type="text" name="new_location" />
            <input type="submit" value="{% trans 'Copy this application now' %}" />
        </form>
    </p>
    <p><em>{% trans "Use full path - for example /home/user1/www/app/" %}</em><br /><em>{% trans "Be very VERY carefull!" %}</em></p>

{% endblock %}
