{% load i18n %}
{% if objects.has_previous %}
    <a href="{{ base_url }}1/" title="{% trans "First page" %}">&laquo; {% trans "First" %}</a>
{% endif %}
{% if objects.has_previous %}
    <a href="{{ base_url }}{{ objects.previous_page_number }}/" title="{% trans "Previous page" %}">
        &laquo; {% trans "Previous" %}
    </a>
{% endif %}

{% for p in paginator.page_range %}
    {% if p == num_page %}
        <a href="{{ base_url }}{{ p }}/" class="number current" title="{{ p }}">{{ p }}</a>
    {% else %}
        <a href="{{ base_url }}{{ p }}/" class="number" title="{{ p }}">{{ p }}</a>
    {% endif %}
{% endfor %}

{% if objects.has_next %}
    <a href="{{ base_url }}{{ objects.next_page_number }}" title="{% trans "Next page" %}">{% trans "Next" %} &raquo;</a>
{% endif %}
{% if objects.has_next %}
    <a href="{{ base_url }}{{ objects.num_pages }}" title="{% trans "Last page" %}">{% trans "Last" %} &raquo;</a>
{% endif %}
