{% extends "form.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block container %}
    <div class="row">
        <div class="span6">
            <h2>{% trans "Reset password" %}</h2>
        </div>
    </div>
    <div class="row">
        <div class="span6 offset2">
            {% crispy form form_helper %}
        </div>
    </div>
    <div class="row">
        <div class="span3 offset3">

            <a href="{% url login %}">{% trans "Go to login page" %}</a>
            <a href="{% url registration %}">{% trans "Registration" %}</a>
        </div>

    </div>
{% endblock %}
