{% extends "form.html" %}
{% load i18n %}

{% block container %}
    <h2>{% trans "Forgotten password" %}</h2>
    
    <p class="help">
        {% blocktrans %}Please fill in your email address or username.{% endblocktrans %}
    </p>

    <form action="#" method="post" id="reg-form">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <input type="submit" name="" class="input-submit-prihlasit" value="{% trans "Resend" %}"/>
        </p>

        <p class="help">
            <a href="{% url login %}">
                {% trans "Go to login page" %}
            </a> &nbsp;
            <a href="{% url registration %}">{% trans "Registration" %}</a>
        </p>
    </form>
{% endblock %}
