{% extends "admin.html" %}
{% load i18n %}

{% block title %}
	{% trans "Administrace > Postgresql databáze" %}
{% endblock %}

{% block jsblock %}
	{{ block.super }}

	$(function() {
		$("#dblist .db_pwdchange").click(function() {
			var db = $(this).attr('rel');
			$("#db_dialog").dialog({"width": 400, "height": 300});
			$("#db_dialog").load("{% url wsgiadmin.pgs.views.passwd "" %}" + db + "/");
		});

		$("#dblist .db_delete").click(function() {
			var orly = confirm('{% trans "Opravdu chcete smazat tuto databázi?" %}');
			if (orly) {
				var db = $(this).attr('rel');
				$("#db_" +  db).load("{% url wsgiadmin.pgs.views.rm "" %}" + db);
			}
		});
	});
{% endblock %}


{% block content %}
<div id="message-box"></div>

<h2>Postgresql</h2>

<div id="db_dialog"></div>

<h3>{% trans "Seznam Postgresql databází" %}</h3>
	<table id="dblist">
	<thead>
		<tr>
		   <th>{% trans "Název databáze" %}</th>
		   <th>{% trans "Akce" %}</th>
		</tr>
	</thead>
	{% if pgs %}
	<tbody>
		{% for pg in pgs.object_list %}
			<tr>
								<td>{{ db }}</td>
								<td id="db_{{ db }}">
									<a href="#" class="db_pwdchange" title="{% trans "Změnit heslo" %}" rel="{{ db }}">
										<img src="{{ STATIC_URL }}icons/raster/gray_dark/key_stroke_16x16.png" alt="{% trans "Změnit heslo" %}"/>
									</a>
									<a href="#" class="db_delete" title="{% trans "Smazat" %}" rel="{{ db }}">
										<img src="{{ STATIC_URL }}icons/raster/gray_dark/trash_fill_16x16.png" alt="{% trans "Smazat" %}"/>
									</a>
								</td>
							</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2">
					<div class="pagination">
						{% if ftps.has_previous %}<a href="{% url wsgiadmin.pgs.views.show 1 %}" title="{% trans "První stránka" %}">&laquo; {% trans "První" %}</a>{% endif %}
						{% if ftps.has_previous %}<a href="{% url wsgiadmin.pgs.views.show pgs.previous_page_number %}" title="{% trans "Předchozí stránka" %}">&laquo; {% trans "Předchozí" %}</a>{% endif %}

						{% for p in paginator.page_range %}
							{% if p == num_page %}
								<a href="{% url wsgiadmin.pgs.views.show p %}" class="number current" title="{{ p }}">{{ p }}</a>
							{% else %}
								<a href="{% url wsgiadmin.pgs.views.show p %}" class="number" title="{{ p }}">{{ p }}</a>
							{% endif %}
						{% endfor %}

						{% if ftps.has_next %}<a href="{% url wsgiadmin.pgs.views.show pgs.next_page_number %}" title="{% trans "Další stránka" %}">{% trans "Další" %} &raquo;</a>{% endif %}
						{% if ftps.has_next %}<a href="{% url wsgiadmin.pgs.views.show paginator.num_pages %}" title="{% trans "Poslední stránka" %}">{% trans "Poslední" %} &raquo;</a>{% endif %}
					</div>
					<div class="clear"></div>
			</td>
		</tr>
	</tfoot>
	{% else %}
	<tbody>
	<tr>
		<td colspan="2">{% trans "Žádná databáze nebyla ještě přidána. Databáze můžete přidávat pomocí nabídky vlevo." %}</td>
	</tr>
	</tbody>
	{% endif%}
</table>
{% endblock %}
