{% extends "admin.html" %}
{% load i18n %}

{% block title %}
    {% trans "Administration" %} &gt; {% trans "Redirects (aliases)" %}
{% endblock %}

{% comment %}
{% block jsblock %}
    {{ block.super }}
{% endblock %}
{% endcomment %}

{% block content %}
    <div id="message-box"></div>

    <h3>{% trans "List of e-mail aliases" %}</h3>
    <table>
        <thead>
        <tr>
            <th>{% trans "Alias" %}</th>
            <th>{% trans "Redirected to" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
        </thead>
        {% if object_list %}
            <tbody id="objects_list">
            {% for redirect in object_list %}
                <tr>
                    <td>{{ redirect.alias }}@{{ redirect.domain.name }}</td>
                    <td>{{ redirect.email }}</td>
                    <td>
                        <a href="{% url wsgiadmin.emails.views.changeRedirect redirect.id %}">
                            <img src="{{ STATIC_URL }}icons/raster/gray_dark/pen_alt_stroke_16x16.png" alt="{% trans "Edit" %}"/>
                        </a>

                        <a href="#" class="object_delete" title="{% trans "Delete" %}" rel="{{ redirect.id }}">
                            <img src="{{ STATIC_URL }}icons/raster/gray_dark/trash_fill_16x16.png" alt="{% trans "Delete" %}"/>
                        </a>
                        <span id="removed_{{ redirect.id }}" class="info"></span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3">
                    <div class="pagination">
                        {% include "paginator.html" %}
                    </div>
                </td>
            </tr>
            </tfoot>
        {% else %}
            <tbody>
            <tr>
                <td colspan="3">{% trans "No email alias exists yet." %}
                    <a href="{% url wsgiadmin.emails.views.addRedirect %}">
                        {% trans "Create new email redirect" %}
                    </a>.
                </td>
            </tr>
            </tbody>
        {% endif %}
    </table>
{% endblock %}
