{% extends "admin.html" %}
{% load uni_form_tags %}
{% load i18n %}

{% block content %}
    <div class="content-box">
        <div class="content-box-header">
            <h3>{{ title }}</h3>

            <div class="clear"></div>
        </div>

        <form action="{% url db_passwd dbtype=dbtype dbname=dbname %}" method="post" class="uniForm">
            {% csrf_token %}
            {{ form|as_uni_form }}
            <p>
                <input type="submit" id="submit_button" class="input-submit" value="{{ submit }}"/>
            </p>
        </form>
    </div>
{% endblock %}
