{% extends "admin.html" %}
{% load i18n %}

{% block content %}
    <div class="content-box">
        <div class="content-box-header">
            <h3>{{ title }}</h3>

            <div class="clear"></div>
        </div>

        <form action="{% url db_passwd dbtype=dbtype dbname=dbname %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <input type="button" id="submit_button" value="{{ submit }}"/>
            </p>
        </form>
    </div>
{% endblock %}
