{% extends "admin.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Administration" %} > {{ title }}{% endblock %}
{% block content %}

    <h3>{{ title }}</h3>

    {% if valid %}
        <p class="{% if next_step %}ok-text{% else %}error-text{% endif %}">{{ valid }}</p>
    {% endif %}

    {% if siteErrors %}
        <p>{% trans "Listed domains are already used by another app or you don't have set them in your domains list" %}:</p>
        <ul>
            {% for x in siteErrors %}
                <li>{{ x }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if form_helper %}
        {% crispy form form_helper %}
    {% else %}
        {% crispy form %}
    {% endif %}

    {% for x in note %}
        <p><em>{{ x }}</em></p>
    {% endfor %}

{% endblock %}

{% block jsblock %}
    {{ block.super }}
        $(function () {
            var form = $("#main form.dyn_refresh");
            if (form) {
                form.on('click', "div.ajax_refresh", function () {

                    var that = this;
                    var url = $(this).data('target');
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: { 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                        dataType: "json",
                        beforeSend: function () {
                            $(that).addClass('running');
                        },
                        complete: function () {
                            $(that).removeClass('running');
                        },
                        success: function (data) {
                            var combo = $("#id_" + $(that).data('el'));
                            var old_selected = combo.find(":selected").val();
                            combo[0].options.length = 1;
                            msgs = data['messages'];
                            var l = msgs.length;
                            for (var i = 0; i < l; i++) {
                                combo[0].options[i + 1] = new Option(msgs[i], msgs[i], (msgs[i] == old_selected));
                            }

                            $(that).find(".status img").remove();
                            var $status = $('<img src="{{ STATIC_URL }}icons/check_12x10.png"/>');
                            $status.appendTo($(that).find(".status")).fadeOut(1500);
                        }
                    });
                }); //eof refresh
            }
        });

{% endblock %}
