{% extends "admin.html" %}
{% load i18n %}

{% block title %}
	Administrace > Uživatelé
{% endblock %}

{% block jsblock %}
	{{ block.super }}
	function remove(what) {
		$("#user_"+what).load("{% url wsgiadmin.users.views.rm 0 %}"+what)
	}
{% endblock %}

{% block content %}
<div id="message-box"></div>
<div class="clear"></div>
<div class="content-box">
	<div class="content-box-header">
		<h3>Seznam uživatelů</h3>
		<div class="clear"></div>
	</div>
	<div class="content-box-content">
		<div class="tab-content default-tab" id="tab1">
			<table class="table table-striped">
				<thead>
					<tr>
					   <th>Jméno uživatele</th>
					   <th>Informace</th>
					   <th>Domény</th>
					   <th>Web/app</th>
                       <th>{% trans "Pay per day" %}</th>
                       <th>{% trans "Credits" %}</th>
					   <th>Akce</th>
					</tr>
				</thead>
				{% if users %}
				<tbody>
					{% for user in users.object_list %}
					<tr>
						<td>{{ user }}</td>
						<td>
							{% if user.username in ssh_users %}Nainstalováno{% endif %}
							{% if user.parms.discount %} Sleva: {{ user.parms.discount }}%{% endif %}
						</td>
						<td>{{ user.parms.count_domains }}×</td>
						<td>{{ user.parms.count_sites }}×</td>
                        <td>{{ user.parms.pay_total_day }}</td>
                        {% with user.parms.credit as credits %}
                        {% if credits >= 0 %}
                        <td style="color: green;">{{ credits }}</td>
                        {% else %}
                        <td style="color: red;">{{ credits }}</td>
                        {% endif %}
                        {% endwith %}
						<td id="user_{{ user.id }}">
                            <ul class="akce">
                                <li><a href="{% url wsgiadmin.users.views.switch_to_user user.id num_page %}"><img src="{{ STATIC_URL }}images/ico-prepnout.png" alt="{% trans "Switch" %}" /></a></li>
                                <li><a href="{% url wsgiadmin.users.views.install user.id %}" title="{% trans "Install" %}"><img src="{{ STATIC_URL }}images/ico-instalace.png" alt="{% trans "Install" %}" /></a></li>
                                <!--<li><a href="{% url wsgiadmin.users.views.update user.id %}" title="{% trans "Edit" %}"><img src="{{ STATIC_URL }}images/ico-editovat.png" alt="{% trans "Edit" %}" /></a></li>-->
                                <li class="smazat"><a href="#" title="{% trans "Delete" %}" onclick="if(confirm('{% trans "Are you sure?" %}')) remove('{{ user.id }}')"><img src="{{ STATIC_URL }}images/ico-smazat.png" alt="{% trans "Delete" %}" /></a></li>
                            </ul>
						</td>
					</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5">
								<div class="pagination">
									{% if users.has_previous %}<a href="{% url wsgiadmin.users.views.show 1 %}" title="{% trans "First page" %}">&laquo; {% trans "First" %}</a>{% endif %}
									{% if users.has_previous %}<a href="{% url wsgiadmin.users.views.show users.previous_page_number %}" title="{% trans "Previous page" %}">&laquo; {% trans "Previous" %}</a>{% endif %}
				
									{% for p in paginator.page_range %}
										{% if p == num_page %}
											<a href="{% url wsgiadmin.users.views.show p %}" class="number current" title="{{ p }}">{{ p }}</a>
										{% else %}
											<a href="{% url wsgiadmin.users.views.show p %}" class="number" title="{{ p }}">{{ p }}</a>
										{% endif %}
									{% endfor %}
				
									{% if users.has_next %}<a href="{% url wsgiadmin.users.views.show users.next_page_number %}" title="{% trans "Next page" %}">{% trans "Next" %} &raquo;</a>{% endif %}
									{% if users.has_next %}<a href="{% url wsgiadmin.users.views.show paginator.num_pages %}" title="{% trans "Last page" %}">{% trans "Last" %} &raquo;</a>{% endif %}
								</div>
								<div class="clear"></div>
						</td>
					</tr>
				</tfoot>
				{% else %}
				<tbody>
				<tr>
					<td colspan="5">Žádný uživatel ještě nebyl přidán.</td>
				</tr>
				</tbody>
				{% endif%}
			</table>
		</div>
	</div>
</div>

{% endblock %}
