{% extends "admin.html" %}
{% load i18n %}
{% load cache %}

{% block title %}
	{% trans "Administration" %} > {% trans "Users" %}
{% endblock %}

{% block content %}
<div id="message-box"></div>
<div class="clear"></div>
<div class="content-box">
	<div class="content-box-header">
		<h3>Seznam uživatelů</h3>
		<div class="clear"></div>
	</div>
	<div class="content-box-content">
		<div class="tab-content default-tab" id="tab1">
			<table class="table table-striped">
				<thead>
					<tr>
					   <th>Jméno uživatele</th>
					   <th>Informace</th>
					   <th>Domény</th>
					   <th>Web/app</th>
					   <th>Apps</th>
                       <th>{% trans "Pay per day" %}</th>
                       <th>{% trans "Credits" %}</th>
					   <th>Akce</th>
					</tr>
				</thead>
				<tbody id="user_table">
                    {% for user in users %}
					<tr>
                        {% cache 21600 userlist_user_part_of_row user.username %}
                        {% with user.parms as parms %}
						<td>
                            {{ user }}
                        </td>
						<td>
							{% if user.username in ssh_users %}Nainstalováno{% endif %}
							{% if parms.discount %} Sleva: {{ parms.discount }}%{% endif %}
						</td>
						<td>{{ parms.count_domains }}×</td>
						<td>{{ parms.count_sites }}×</td>
						<td>{{ parms.count_apps }}×</td>
                        <td>{{ parms.pay_total_day|floatformat:2 }}</td>
                        {% with parms.credit_cached as credits %}
                        {% if credits >= 0 %}
                        <td style="color: green;">{{ credits|floatformat:2 }}</td>
                        {% else %}
                        <td style="color: red;">{{ credits|floatformat:2 }}</td>
                        {% endif %}
                        {% endwith %}
                        {% endwith %}
                        {% endcache %}
						<td>
                            <a href="{% url switch_to_user user.id %}" class="btn">{% trans "Switch" %}</a>
                            <a href="#a" class="btn btn-danger" onclick="if(confirm('{% trans "Are you sure?" %}')) {document.location='{% url user_rm user.id %}';};">{% trans "Delete" %}</a>
						</td>
					</tr>
                    {% endfor %}
				</tbody>
                <tfoot>
                <tr>
                    <th></th>
                    <th id="total"></th>
                    <th></th>
                    <th id="total_domains"></th>
                    <th id="total_sites"></th>
                    <th id="total_pay_per_day"></th>
                    <th></th>
                    <th></th>
                </tr>
                </tfoot>
			</table>
		</div>
	</div>
</div>

{% endblock %}
