{% extends "admin.html" %}
{% load i18n %}

{% block title %}
	Administrace > Domény
{% endblock %}

{% block content %}
<script type="text/javascript">
	function remove(what) {
		$("#domain_"+what).load("{% url domains.views.rm 0 %}"+what);
	}
</script>
<div id="message-box"></div>

<h3>Domény</h3>

{% blocktrans %}
<p>Informace týkající se domén najdete na Wiki na adrese <a href='{{ WIKI_URL }}/registrace_domen' target="_blank">{{ WIKI_URL }}/registrace_domen</a>.</p>
{% endblocktrans %}

<p><a href="{% url domains.views.add %}">{% trans "Přidat již registrovanou doménu" %}</a>.</p>

<h3>{% trans "Seznam vedených domén" %}</h3>

<table>
	<thead>
		<tr>
		   <th>{% trans "Datum vložení" %}</th>
		   <th>{% trans "Název domény" %}</th>
		   <th>{% trans "Akce" %}</th>
		</tr>
	</thead>
	{% if domains %}
	<tbody>
		{% for domain in domains.object_list %}
		<tr>
			<td>{{ domain.pub_date|date:"d.m.Y" }}</td>
			<td>{{ domain.name }}</td>
			<td id="domain_{{ domain.id }}">
				 <a href="#" title="Smazat" onclick="if(confirm('{% trans "Opravdu chcete smazat tuto doménu?" %}')) remove({{ domain.id }})"><img src="/m/images/icons/cross.png" alt="Smazat" /></a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3">
					<div class="pagination">
						{% if domains.has_previous %}<a href="{% url domains.views.show 1 %}" title="{% trans "První stránka" %}">&laquo; {% trans "První" %}</a>{% endif %}
						{% if domains.has_previous %}<a href="{% url domains.views.show domains.previous_page_number %}" title="{% trans "Předchozí stránka" %}">&laquo; {% trans "Předchozí" %}</a>{% endif %}

						{% for p in paginator.page_range %}
							{% ifequal p num_page %}
								<a href="{% url domains.views.show p %}" class="number current" title="{{ p }}">{{ p }}</a>
							{% else %}
								<a href="{% url domains.views.show p %}" class="number" title="{{ p }}">{{ p }}</a>
							{% endifequal %}
						{% endfor %}

						{% if domains.has_next %}<a href="{% url domains.views.show domains.next_page_number %}" title="{% trans "Další stránka" %}">{% trans "Další" %} &raquo;</a>{% endif %}
						{% if domains.has_next %}<a href="{% url domains.views.show paginator.num_pages %}" title="{% trans "Poslední stránka" %}">{% trans "Poslední" %} &raquo;</a>{% endif %}
					</div>
					<div class="clear"></div>
			</td>
		</tr>
	</tfoot>
	{% else %}
	<tbody>
	<tr>
		<td colspan="3">{% trans "Žádná doména nebyla ještě přidána. Domény můžete přidávat pomocí nabídky vlevo." %}</td>
	</tr>
	</tbody>
	{% endif%}
</table>

{% endblock %}
