*
{
	margin: 0;
	padding: 0;
	outline: none;
}
body {
	background: #fff;
	background: #fff url(/m/images/bg-body.gif) repeat-y left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}
.clear {
	clear: both;
}
a {
	color: #666;
	border: 0;
}
a:hover {
	text-decoration: none;
}
img {
	border: 0;
}
.tlacitko a {
	/* fallback */
  	background-color: #dfdde2;
 	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f5fa), to(#dfdde2));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #f4f5fa, #dfdde2);
 	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #f4f5fa, #dfdde2);
  	/* IE 10 */
  	background: -ms-linear-gradient(top, #f4f5fa, #dfdde2);
  	/* Opera 11.10+ */
  	background: -o-linear-gradient(top, #f4f5fa, #dfdde2);
  	margin: 0 5px 5px 0;
	padding: 7px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #cfcdda;
	color: #252525;
	font-size: 12px;
	text-decoration: none;
}
.tlacitko a:hover {
	/* fallback */
  	background-color: #d3d1d6;
 	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f5fa), to(#d3d1d6));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #f4f5fa, #d3d1d6);
 	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #f4f5fa, #d3d1d6);
  	/* IE 10 */
  	background: -ms-linear-gradient(top, #f4f5fa, #d3d1d6);
  	/* Opera 11.10+ */
  	background: -o-linear-gradient(top, #f4f5fa, #d3d1d6);
	border: solid 1px #c8c6c9;
	color: #252525;
}
/*--------------------------------------------------------------------------------------------------------
	Main
--------------------------------------------------------------------------------------------------------*/
#main {
	position: relative;
}
.registrace {
	background: url(/m/images/bg-body-registrace.jpg) repeat-x top;
}
/*--------------------------------------------------------------------------------------------------------
	Header
--------------------------------------------------------------------------------------------------------*/
#header {
	background: url(/m/images/bg-hlavicka.jpg) repeat-x top;
	height: 145px;
	position: relative;
	overflow: hidden;
	border-bottom: solid 5px #2d3238;
}
#header #logo {
	position: absolute;
	left: 30px;
	top: 25px;
	text-decoration: none;
	font-size: 40px;
	font-weight: normal;
	font-family: calibri, helmetca, arial, sans-serif;
	color: #fff;
	text-shadow: 0 1px 1px #000;
}
#header #logo strong {
	color: #a2d22e;
	font-weight: bold;
}
#header #login {
	background: url(/m/images/bg-login.png) no-repeat 0 0;
	padding: 23px 0 0 30px;
	width: 387px;
	height: 61px;
	position: absolute;
	right: 0;
	top: 20px;
}
#header #login strong {
	background: url(/m/images/ico-uzivatel.png) no-repeat 0 2px;
	margin: 0 30px 0 0;
	padding: 4px 0 2px 20px;
}
#header #login #uzivatel {
	margin: 0 0 0 5px;
	color: #f2f2f2;
	font-weight: normal;
}
.odhlasit a {
	background: url(/m/images/tlacitko-odhlasit.png) no-repeat 0 0;
	padding: 0 0 0 50px;
	width: 80px;
	height: 30px;
	color: #f0f5f8;
	display: block;
	line-height: 30px;
	text-decoration: none;
	position: absolute;
	right: 60px;
	top: 15px;
}
.odhlasit a:hover {
	background: url(/m/images/tlacitko-odhlasit.png) no-repeat 0 -30px;
}
#header #main-menu {
	margin: 0 30px 0 0;
	padding: 0 0 0 30px;
	height: 31px;
	position: absolute;
	left: 0;
	bottom: 15px;
}
#header #main-menu li {
	margin: 0 5px 0 0;
	height: 30px;
	float: left;
	line-height: 31px;
	list-style-type: none;
	text-transform: uppercase;
	font-size: 11px;
}
#header #main-menu li a {
	background: url(/m/images/bg-main-menu-li-left-a.jpg) no-repeat left top;
	padding: 0 0 0 20px;
	height: 31px;
	float: left;
	text-decoration: none;
	color: #f2f2f2;
}
#header #main-menu li a span {
	background: url(/m/images/bg-main-menu-li-right-a.jpg) no-repeat right top;
	width: 20px;
	height: 31px;
	float: right;
}
#header #main-menu li a:hover {
	background: url(/m/images/bg-main-menu-li-left.jpg) no-repeat left top;
	padding: 0 0 0 20px;
	height: 31px;
	float: left;
	text-decoration: none;
	color: #f2f2f2;
}
#header #main-menu li a:hover span {
	background: url(/m/images/bg-main-menu-li-right.jpg) no-repeat right top;
	width: 20px;
	height: 31px;
	float: right;
	color: #444;
}
#header #main-menu li.active a {
	background: url(/m/images/bg-main-menu-li-left.jpg) no-repeat left top;
	padding: 0 0 0 20px;
	height: 31px;
	float: left;
	text-decoration: none;
	color: #f2f2f2;
}
#header #main-menu li.active a span {
	background: url(/m/images/bg-main-menu-li-right.jpg) no-repeat right top;
	width: 20px;
	height: 31px;
	float: right;
	color: #444;
}
/*--------------------------------------------------------------------------------------------------------
	Sidebar
--------------------------------------------------------------------------------------------------------*/
#sidebar {
	padding: 0 0 100px 0;
	width: 280px;
	position: absolute;
	left: 0;
	top: 150px;
}
#sidebar-inside {
	margin: 0 0 0 30px;
}
#sidebar ul {
	margin: 30px 0 30px 0;
}
#sidebar ul li {
	list-style-type: none;
}
#sidebar ul li a {
	background: url(/m/images/bg-sidebar-menu-a.png) no-repeat 0 0;
	margin: 0 0 5px 0;
	padding: 0 0 0 20px;
	height: 30px;
	line-height: 32px;
	font-size: 11px;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	color: #f2f2f2;
}
#sidebar ul li a:hover {
	background: url(/m/images/bg-sidebar-menu-hover.png) no-repeat 0 0;
  	color: #f2f2f2;
}
#sidebar ul li.active a {
	background: url(/m/images/bg-sidebar-menu-hover.png) no-repeat 0 0;
  	color: #f2f2f2;
}
/*--------------------------------------------------------------------------------------------------------
	Content
--------------------------------------------------------------------------------------------------------*/
#content {
	margin: 0;
	padding: 0 0 100px 280px;
}
#content ul {
	margin: 0 0 30px 0;
}
#content ul li {
	background: url(/m/images/bullet-01.png) no-repeat 0 6px;
	padding: 0 0 0 10px;
	line-height: 18px;
	list-style-type: none;
}
#content ul li a {
	color: #666;
}
#content p {
	margin: 0 0 30px 0;
	line-height: 18px;
}
#content p a {
	margin: 0 0 30px 0;
	line-height: 18px;
	color: #666;
}
#content h1 {
	margin: 0 0 30px 0;
	font-size: 25px;
	font-weight: normal;
	color: #222;
}
#content h2 {
	margin: 0 0 30px 0;
	font-size: 20px;
	font-weight: normal;
	color: #222;
}
#content h3 {
	margin: 0 0 20px 0;
	font-size: 18px;
	font-weight: normal;
	color: #444;
}
#content h4 {
	margin: 0 0 20px 0;
	font-size: 15px;
	font-weight: normal;
	color: #444;
}
#content h5 {
	margin: 0 0 20px 0;
	font-size: 13px;
	color: #666;
}
#content h6 {
	margin: 0 0 20px 0;
	font-size: 13px;
	color: #666;
}
#content form {
	margin: 0 0 30px 0;
}
#content form p {
	margin: 0 0 10px 0;
}
#content form label {
	margin: 0 0 5px 0;
	color: #333;
	font-weight: bold;
	display: block;
}
#content form .input-text {
	padding: 7px 2px;
	width: 300px;
	border: solid 1px #c2c2c2;
	/* fallback */
  	background-color: #f2f2f2;
 	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f2f2), to(#fff));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #f2f2f2, #fff);
 	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #f2f2f2, #fff);
  	/* IE 10 */
  	background: -ms-linear-gradient(top, #f2f2f2, #fff);
  	/* Opera 11.10+ */
  	background: -o-linear-gradient(top, #f2f2f2, #fff);
  	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#content form .input-text:hover {
	border: solid 1px #959595;
}
#content form .input-text:focus {
	border: solid 1px #959595;
}
#content form select {
	/* fallback */
  	background-color: #f2f2f2;
 	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f2f2), to(#fff));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #f2f2f2, #fff);
 	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #f2f2f2, #fff);
  	/* IE 10 */
  	background: -ms-linear-gradient(top, #f2f2f2, #fff);
  	/* Opera 11.10+ */
  	background: -o-linear-gradient(top, #f2f2f2, #fff);
	padding: 7px 7px 7px 2px;
	width: 306px;
	height: 29px;
	border: solid 1px #c2c2c2;
  	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#content form select:hover {
	border: solid 1px #959595;
}
#content form select:focus {
	border: solid 1px #959595;
}
#content form .textarea {
	padding: 7px 2px;
	width: 500px;
	height: 150px;
	border: solid 1px #c2c2c2;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	/* fallback */
  	background-color: #f2f2f2;
 	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f2f2), to(#fff));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #f2f2f2, #fff);
 	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #f2f2f2, #fff);
  	/* IE 10 */
  	background: -ms-linear-gradient(top, #f2f2f2, #fff);
  	/* Opera 11.10+ */
  	background: -o-linear-gradient(top, #f2f2f2, #fff);
  	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#content form .textarea:hover {
	border: solid 1px #959595;
}
#content form .textarea:focus {
	border: solid 1px #959595;
}
#content form label {
	margin: 0 0 5px 0;
	color: #333;
	font-weight: bold;
	display: block;
}
#content form .input-checkbox, #content form .input-radio {
	margin: 0 5px 5px 0;
}
.input-submit {
	/* fallback */
  	background-color: #dfdde2;
 	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f5fa), to(#dfdde2));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #f4f5fa, #dfdde2);
 	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #f4f5fa, #dfdde2);
  	/* IE 10 */
  	background: -ms-linear-gradient(top, #f4f5fa, #dfdde2);
  	/* Opera 11.10+ */
  	background: -o-linear-gradient(top, #f4f5fa, #dfdde2);
	padding: 7px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #cfcdda;
	color: #252525;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}
.input-submit:hover {
	/* fallback */
  	background-color: #d3d1d6;
 	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f5fa), to(#d3d1d6));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #f4f5fa, #d3d1d6);
 	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #f4f5fa, #d3d1d6);
  	/* IE 10 */
  	background: -ms-linear-gradient(top, #f4f5fa, #d3d1d6);
  	/* Opera 11.10+ */
  	background: -o-linear-gradient(top, #f4f5fa, #d3d1d6);
	border: solid 1px #c8c6c9;
	color: #252525;
}
#content-inside {
	margin: 0 30px 0 30px;
	padding: 30px 0 0 0;
}
#content table {
	margin: 0 0 30px 0;
	width: 100%;
	border-collapse: collapse;
	border-bottom: solid 5px #d7d7d7;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}
#content table tr th {
  	padding: 10px 20px;
  	text-align: left;
  	color: #f2f2f2;
}
#content table th:first-child {
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	/* fallback */
  	background-color: #6f950e;
 	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a4d931), to(#6f950e));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #a4d931, #6f950e);
 	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #a4d931, #6f950e);
  	/* IE 10 */
  	background: -ms-linear-gradient(top, #a4d931, #6f950e);
  	/* Opera 11.10+ */
  	background: -o-linear-gradient(top, #a4d931, #6f950e);
}
#content table th:last-child {
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	/* fallback */
  	background-color: #6f950e;
 	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a4d931), to(#6f950e));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #a4d931, #6f950e);
 	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #a4d931, #6f950e);
  	/* IE 10 */
  	background: -ms-linear-gradient(top, #a4d931, #6f950e);
  	/* Opera 11.10+ */
  	background: -o-linear-gradient(top, #a4d931, #6f950e);
}
#content table tr {
	border-bottom: solid 1px #d7d7d7;
}
#content table tr:first-child {
	/* fallback */
  	background-color: #6f950e;
 	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a4d931), to(#6f950e));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #a4d931, #6f950e);
 	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #a4d931, #6f950e);
  	/* IE 10 */
  	background: -ms-linear-gradient(top, #a4d931, #6f950e);
  	/* Opera 11.10+ */
  	background: -o-linear-gradient(top, #a4d931, #6f950e);
}
#content table tr td {
	/* fallback */
  	background-color: #e8e7ef;
 	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f2f2), to(#e8e7ef));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #f2f2f2, #e8e7ef);
 	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #f2f2f2, #e8e7ef);
  	/* IE 10 */
  	background: -ms-linear-gradient(top, #f2f2f2, #e8e7ef);
  	/* Opera 11.10+ */
  	background: -o-linear-gradient(top, #f2f2f2, #e8e7ef);
	padding: 10px 20px 10px 20px;
	border-right: solid 1px #d7d7d7;
	table-layout: auto;
}
#content table tr td:last-child {
	border-right: 0;
}
#content table .akce {
	margin: 0 !important;
	padding: 0 !important;
	height: 23px;
	float: left;
}
#content table .akce li {
	background: none;
	padding: 0;
	line-height: normal;
	float: left;
	display: block;
	list-style-type: none;
}
#content table .akce li a {
	/* fallback */
  	background-color: #dfdde2;
 	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f5fa), to(#dfdde2));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #f4f5fa, #dfdde2);
 	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #f4f5fa, #dfdde2);
  	/* IE 10 */
  	background: -ms-linear-gradient(top, #f4f5fa, #dfdde2);
  	/* Opera 11.10+ */
  	background: -o-linear-gradient(top, #f4f5fa, #dfdde2);
  	margin: 0 5px 0 0;
	padding: 2px 2px 0 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #cfcdda;
	color: #252525;
	font-size: 12px;
	text-decoration: none;
	float: left;
	display: block;
}
#content table .akce li a:hover {
	/* fallback */
  	background-color: #d3d1d6;
 	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f5fa), to(#d3d1d6));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #f4f5fa, #d3d1d6);
 	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #f4f5fa, #d3d1d6);
  	/* IE 10 */
  	background: -ms-linear-gradient(top, #f4f5fa, #d3d1d6);
  	/* Opera 11.10+ */
  	background: -o-linear-gradient(top, #f4f5fa, #d3d1d6);
	border: solid 1px #c8c6c9;
	color: #252525;
}
#content table .akce li.smazat a:hover {
	/* fallback */
  	background-color: #fcbbc0;
 	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9d9dc), to(#fcbbc0));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #f9d9dc, #fcbbc0);
 	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #f9d9dc, #fcbbc0);
  	/* IE 10 */
  	background: -ms-linear-gradient(top, #f9d9dc, #fcbbc0);
  	/* Opera 11.10+ */
  	background: -o-linear-gradient(top, #f9d9dc, #fcbbc0);
	border: solid 1px #fb9ca4;
	color: #430006;
}
ul#notifications {
	margin: 0 0 30px 0;
}
ul#notifications li {
	background: #f2f2f2 !important;
	margin: 0 0 10px 0;
	padding: 10px 30px 10px 50px !important;
	border: solid 1px #eee;
	position: relative;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	list-style: none;
}
ul#notifications li.error {
	background: #fdd1d1 url(/m/images/ico-error.png) no-repeat 20px 10px !important;
	border: solid 1px #dc8787;
}
ul#notifications li.info {
	background: #dde4fe url(/m/images/ico-info.png) no-repeat 20px 10px  !important;
	border: solid 1px #94a8e8;
}
ul#notifications li.warning {
	background: #fefbd4 url(/m/images/ico-upozorneni.png) no-repeat 20px 10px  !important;
	border: solid 1px #e6db54;
}
ul#notifications li.success {
	background: url(/m/images/ico-ok.png) no-repeat 20px 10px  #d8fed1 !important;
	border: solid 1px #8ad17f;
}
ul#notifications li .zavrit {
	position: absolute;
	right: -5px;
	top: -5px;
	cursor: pointer;
}
/*--------------------------------------------------------------------------------------------------------
	Notifications form
--------------------------------------------------------------------------------------------------------*/
div.notifications {
	background: #f2f2f2 !important;
	margin: 0 0 10px 0;
	padding: 10px 30px 0 50px !important;
	border: solid 1px #eee;
	position: relative;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	list-style: none;
}
div.notifications.error {
	background: #fdd1d1 url(/m/images/ico-error.png) no-repeat 20px 10px !important;
	border: solid 1px #dc8787;
}
div.notifications.info {
	background: #dde4fe url(/m/images/ico-info.png) no-repeat 20px 10px  !important;
	border: solid 1px #94a8e8;
}
div.notifications.warning {
	background: #fefbd4 url(/m/images/ico-upozorneni.png) no-repeat 20px 10px  !important;
	border: solid 1px #e6db54;
}
div.notifications.success {
	background: url(/m/images/ico-ok.png) no-repeat 20px 10px  #d8fed1 !important;
	border: solid 1px #8ad17f;
}
div.notifications .zavrit {
	position: absolute;
	right: -5px;
	top: -5px;
	cursor: pointer;
}
/*--------------------------------------------------------------------------------------------------------
	Registrace a prihlaseni
--------------------------------------------------------------------------------------------------------*/
.registrace {
	background: url(/m/images/bg-body-registrace.jpg) repeat;
}
.registrace h1 {
	margin: 0 0 40px 50px;
	font-size: 40px;
	color: #71808a;
	font-weight: normal;
	text-shadow: 0 1px 1px #fff;
}
.registrace h1 strong {
	color: #3b4248;
}
.registrace #main {
	padding: 40px 0 150px 0;
}
.registrace #main-inside {
	margin: 0 auto;
	width: 800px;
}
.container {
	background: url(/m/images/bg-container.jpg) repeat-y center;
	margin: 0 0 0 50px;
	width: 300px;
	float: left;
}
.container-top {
	background: url(/m/images/bg-container-top.jpg) no-repeat center 50px;
}
.container-bottom {
	background: url(/m/images/bg-container-bottom.jpg) no-repeat center bottom;
	padding: 0 0 30px 0;
}
.container h2 {
	background: url(/m/images/bg-h2-registrace.jpg) no-repeat 0 0;
	padding: 0 0 20px 0;
	width: 300px;
	height: 50px;
	line-height: 55px;
	text-align: center;
	color: #f2f2f2;
	font-size: 20px;
	font-weight: normal;
}
.container label {
	margin: 0 0 10px 20px;
	color: #cfd8de;
	font-size: 12px;
	font-weight: bold;
	display: block;
}

.container .help {
	margin: 0 0 20px 0;
	text-align: center;
	color: #cfd8de;
}
.container .help a {
	color: #cfd8de;
}
.container .help a:hover {
	text-decoration: none;
}
.container .notifications {
	margin: 0 20px !important;
}
.container .border-01 {
	background: url(/m/images/border-01.jpg) no-repeat 0 0;
	width: 300px;
	height: 45px;
}

/*--------------------------------------------------------------------------------------------------------
	Co jsem doplnil, přetížil
--------------------------------------------------------------------------------------------------------*/

#reg-form input {
	background: url(/m/images/bg-input-text-registrace.jpg) no-repeat 0 0;
	margin: 0 0 10px 20px;
	padding: 0 2px;
	width: 256px;
	height: 31px;
	border: 0;
	color: #cfd8de;
	font-size: 12px;
}

#reg-form select {
	background: url(/m/images/bg-input-text-registrace.jpg) no-repeat 0 0;
	margin: 0 0 10px 20px;
	padding: 0 2px;
	width: 256px;
	height: 31px;
	border: 0;
	color: #cfd8de;
	font-size: 12px;
}

.errorlist {
    margin-left: 15px;
    color: red;
    font-weight: bold;
}

.errorlist li {
    list-style-type: none;
}

.helptext {
    color: #ccc;
    margin: 0 0 20px 120px;
}

#reg-form li {
    list-style-type: none;
}

#reg-form .input-text-registrace {
	background: url(/m/images/bg-input-text-registrace.jpg) no-repeat 0 0;
	margin: 0 0 10px 20px;
	padding: 0 2px;
	width: 256px;
	height: 31px;
	border: 0;
	color: #cfd8de;
	font-size: 12px;
}

#reg-form .input-submit-prihlasit {
	background: url(/m/images/input-submit-prihlasit.jpg) no-repeat 0 0;
	margin: 15px 0 15px 95px;
	padding-bottom: 2px;
	width: 110px;
	height: 31px;
	border: 0;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
}

#reg-form .input-submit-prihlasit:hover {
	background: url(/m/images/input-submit-prihlasit.jpg) no-repeat 0 -31px;
}

#reg-form .input-submit-registrovat {
	background: url(/m/images/input-submit-registrovat.jpg) no-repeat 0 0;
	margin: 15px 0 15px 85px;
	padding-bottom: 2px;
	width: 130px;
	height: 31px;
	border: 0;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
}

#reg-form .input-submit-registrovat:hover {
	background: url(/m/images/input-submit-registrovat.jpg) no-repeat 0 -31px;
}
